{% extends "base.html" %}
{% from "custom_macros.html" import render_input_field %}
{% block head %}
    <link href={{ url_for('static', filename='css/security/change_password.css') }} rel="stylesheet">
{% endblock %}


{% block body %}
    <form class="form-change-pwd needs-validation" novalidate action={{ url_for_security('change_password') }} method="POST" name="change_password_form" id="change_password_form">
        {{ change_password_form.hidden_tag() }}
        <img class="d-block mx-auto my-4" src={{ url_for('static', filename='img/ade_scheduler_icon.png') }} width="30%">
        <div class="mb-3">
            <label for="password_confirm">Password</label>
            {{ render_input_field(change_password_form.password, 'No password specified', placeholder="Password", required="", minlength="8", autocomplete="new-password") }}
        </div>

        <div class="mb-3">
            <label for="password">New password</label>
            {{ render_input_field(change_password_form.new_password, 'No password specified', placeholder="Password", required="", minlength="8", autocomplete="new-password") }}
            <small class="form-text text-muted">
                Must be at least 8 characters long.
            </small>
        </div>
        <div class="mb-3">
            <label for="password_confirm">Confirm new password</label>
            {{ render_input_field(change_password_form.new_password_confirm, 'Password do not match', placeholder="Password", required="", minlength="8", autocomplete="new-password") }}
        </div>
        <hr class="mb-3">
        {{ change_password_form.submit(class="btn btn-lg btn-primary btn-block") }}
    </form>
{% endblock %}


{% block js %}
    <script src={{ url_for('static', filename='js/security/change_password.js') }}></script>
{% endblock %}
