{% extends "base.html" %} {% from "custom_macros.html" import
render_input_field, render_flash_messages %} {% block head %} <%
_.forEach(htmlWebpackPlugin.files.js, function(file) { %>
<script type="text/javascript" src="<%= file%>"></script>
<%}); %> {% endblock %} {% block body %}
<form
  class="form-change-pwd needs-validation"
  novalidate
  action="{{ url_for_security('change_password') }}"
  method="POST"
  name="change_password_form"
  id="change_password_form"
>
  {{ change_password_form.hidden_tag() }}
  <img
    class="d-block mx-auto my-4"
    src="{{ url_for('static', filename='img/ade_scheduler_icon.png') }}"
    width="30%"
  />
  {{ render_flash_messages() }}
  <div class="mb-3">
    <label for="password_confirm">{{_('Password')}}</label>
    {{ render_input_field(change_password_form.password, 'No password
    specified', placeholder=_('Password'), required="", minlength="8",
    autocomplete="new-password") }}
  </div>

  <div class="mb-3">
    <label for="password">{{_('New password')}}</label>
    {{ render_input_field(change_password_form.new_password, 'No password
    specified', placeholder=_('Password'), required="", minlength="8",
    autocomplete="new-password") }}
    <small class="form-text text-muted">
      {{_('Must be at least 8 characters long.')}}
    </small>
  </div>
  <div class="mb-3">
    <label for="password_confirm">{{_('Confirm new password')}}</label>
    {{ render_input_field(change_password_form.new_password_confirm, _('Password
    do not match'), placeholder=_('Password'), required="", minlength="8",
    autocomplete="new-password") }}
  </div>
  <hr class="mb-3" />
  {{ change_password_form.submit(class="btn btn-lg btn-primary w-100") }}
</form>
{% endblock %}
