{% extends "base.html" %}
{% from "custom_macros.html" import render_input_with_message %}
{% block head %}
    <link href={{ url_for('static', filename='css/security/forgot_password.css') }} rel="stylesheet">
{% endblock %}


{% block body %}
    <form class="form-forgot-pwd" action={{ url_for('security.forgot_password') }} method="POST" name="forgot_password_form">
        {{ forgot_password_form.hidden_tag() }}
        <img class="d-block mx-auto my-4" src="static/img/ade_scheduler_icon.png" width="30%">
        <label for="email">Enter your email address</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            {{ render_input_with_message(forgot_password_form.email, 'Invalid email address.', placeholder="you@example.com", required="") }}
        </div>
        <hr class="mb-3">
        {{ forgot_password_form.submit(class="btn btn-lg btn-primary btn-block") }}
    </form>
{% endblock %}


{% block js %}
{% endblock %}
