{% extends "base.html" %} {% from "custom_macros.html" import
render_input_with_message, render_flash_messages %} {% block head %} <%
_.forEach(htmlWebpackPlugin.files.js, function(file) { %>
<script type="text/javascript" src="<%= file%>"></script>
<%}); %> {% endblock %} {% block body %}
<form
  class="form-forgot-pwd needs-validation"
  novalidate
  action="{{ url_for('security.forgot_password') }}"
  method="POST"
  name="forgot_password_form"
>
  {{ forgot_password_form.hidden_tag() }}
  <img
    class="d-block mx-auto my-4"
    src="{{ url_for('static', filename='img/ade_scheduler_icon.png') }}"
    width="30%"
  />
  {{ render_flash_messages() }}
  <label for="email">{{_('Enter your email address')}}</label>
  <div class="input-group">
    <div class="input-group-text">@</div>
    {{ render_input_with_message(forgot_password_form.email, _('Invalid email
    address'), placeholder="you@example.com", required="") }}
  </div>
  {% for error in forgot_password_form.email.errors %} {% if error == _('Email
  requires confirmation.') %}
  <small
    ><a href="{{ url_for('security.send_confirmation') }}"
      >{{_('Resend confirmation instructions')}}</a
    ></small
  >
  {% endif %}{% endfor %}
  <hr class="mb-3" />
  {{ forgot_password_form.submit(class="btn btn-lg btn-primary w-100") }}
</form>
{% endblock %}
