{% extends "base.html" %} {% from "custom_macros.html" import
render_login_field, render_flash_messages %} {% block head %} <%
_.forEach(htmlWebpackPlugin.files.js, function(file) { %>
<script type="text/javascript" src="<%= file%>"></script>
<%}); %> {% endblock %} {% block body %}
<form
  class="form-signin needs-validation"
  novalidate
  action="{{ url_for('security.login') }}"
  method="POST"
  name="login_user_form"
>
  {{ login_user_form.hidden_tag() }}
  <img
    class="d-block mx-auto my-4"
    src="{{ url_for('static', filename='img/ade_scheduler_icon.png') }}"
    width="30%"
  />
  {{ render_flash_messages() }} {{ render_login_field(login_user_form.email,
  login_user_form.password, _('Specify an email address and a password')) }}
  <div class="form-check mt-3">
    {{ login_user_form.remember(class="form-check-input") }}
    <label class="form-check-label" for="remember">
      {{_('Remember me')}}
    </label>
  </div>
  <div class="d-flex flex-column mb-3">
    <small
      ><a href={{ url_for('security.forgot_password')}}>{{_('Forgot password
      ?')}}</small
    >
    {% for error in login_user_form.email.errors %} {% if error == _('Email
    requires confirmation.') %}
    <small
      ><a href="{{ url_for('security.send_confirmation') }}"
        >{{_('Resend confirmation instructions')}}</a
      ></small
    >
    {% endif %}{% endfor %}
  </div>
  <hr class="mb-3" />
  {{ login_user_form.submit(class="btn btn-lg btn-primary w-100") }}
  <div class="mt-2">
    <small
      >{{_('New to ADE Scheduler ?')}}
      <a href="{{ url_for('security.register') }}"
        >{{_('Sign up now !')}}</a
      ></small
    >
  </div>
</form>
{% endblock %}
