{% extends "base.html" %}
{% block head %}
    <link href={{ url_for('static', filename='css/login.css') }} rel="stylesheet">
{% endblock %}


{% block body %}
    <form class="form-signin" action={{ url_for('security.login') }} method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        <img class="d-block mx-auto my-4" src="static/img/ade_scheduler_icon.png" width="30%">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember" value="y"> Remember me
            </label>
        </div>
        <div class="mb-3">
            <small><a href="/">Forgot password ?</a></small>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Login">Sign in</button>
        <div class="mt-2">
            <small>New to ADE Scheduler ? <a href={{ url_for('security.register') }}>Sign up now !</a></small>
        </div>
    </form>
{% endblock %}


{% block js %}
{% endblock %}
