{% extends "base.html" %} {% from "custom_macros.html" import
render_input_field, render_flash_messages %} {% block head %} <%
_.forEach(htmlWebpackPlugin.files.js, function(file) { %>
<script type="text/javascript" src="<%= file%>"></script>
<%}); %> {% endblock %} {% block body %}
<form
  class="form-signup needs-validation"
  novalidate
  id="register-form"
  action="{{ url_for('security.register') }}"
  method="POST"
  autocomplete="off"
  name="register_user_form"
>
  {{ register_user_form.hidden_tag() }}
  <img
    class="d-block mx-auto my-4"
    src="{{ url_for('static', filename='img/ade_scheduler_icon.png') }}"
    width="30%"
  />

  <ul class="list-group list-group-flush bg-light mb-3">
    <li class="list-group-item bg-light">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-check2-square text-success me-2"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        />
        <path
          fill-rule="evenodd"
          d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"
        />
      </svg>
      {{ _('Save your schedules') }}
    </li>
    <li class="list-group-item bg-light">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-check2-square text-success me-2"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        />
        <path
          fill-rule="evenodd"
          d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"
        />
      </svg>
      {{ _('Manage several schedules following your needs') }}
    </li>
    <li class="list-group-item bg-light">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-check2-square text-success me-2"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        />
        <path
          fill-rule="evenodd"
          d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"
        />
      </svg>
      {{ _('Modify the color of the events in the calendar') }}
    </li>
    <li class="list-group-item bg-light">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-check2-square text-success me-2"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        />
        <path
          fill-rule="evenodd"
          d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"
        />
      </svg>
      {{ _('And so much more !') }}
    </li>
  </ul>

  {{ render_flash_messages() }}
  <div class="mb-3">
    <label for="email">{{_('Email')}}</label>
    <div class="input-group">
      <div class="input-group-text">@</div>
      {{ render_input_field(register_user_form.email, _('Invalid email
      address'), placeholder="you@example.com", required="") }}
    </div>
  </div>

  <div class="mb-3">
    <label for="password">{{_('Password')}}</label>
    {{ render_input_field(register_user_form.password, _('No password
    specified'), placeholder=_('Password'), required="", minlength="8",
    autocomplete="new-password") }}
    <small class="form-text text-muted">
      {{_('Must be at least 8 characters long.')}}
    </small>
  </div>
  {% if register_user_form.password_confirm %}
  <div class="mb-3">
    <label for="password_confirm">{{_('Confirm password')}}</label>
    {{ render_input_field(register_user_form.password_confirm, _('Password do
    not match'), placeholder=_('Password'), required="", minlength="8",
    autocomplete="new-password") }}
  </div>
  {% endif %}
  <hr class="mb-3" />
  {{ register_user_form.submit(class="btn btn-lg btn-primary w-100") }}
</form>
{% endblock %}
