{% extends "base.html" %} {% block head %} <%
_.forEach(htmlWebpackPlugin.files.js, function(file) { %>
<script type="text/javascript" src="<%= file%>"></script>
<%}); %> {% endblock %} {% block body %}
<div class="container-lg pt-3">
  <div
    class="alert alert-danger alert-dismissible fade show text-center"
    role="alert"
  >
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <div class="text-center">
    <img
      src="{{ url_for('static', filename='img/404.svg') }}"
      class="w-75 p-3"
      alt="Responsive image"
    />
  </div>
</div>
{% endblock %}
