{% extends "base.html" %}
{% block head %}
<% _.forEach(htmlWebpackPlugin.files.js, function(file) { %>
<script type="text/javascript" src="<%= file%>"></script>
<%}); %>
{% endblock %}

{% block body %}
<div class="container-lg pt-3">
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
    <img src="{{ url_for('static', filename='img/404.jpg') }}" class="img-fluid" alt="Responsive image">
</div>
{% endblock %}
