<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="ADE Scheduler for UCLouvain students">

        <title>ADE Scheduler v2.0</title>

        <!-- Bootstrap -->
        <link href={{ url_for('static', filename='css/lib/bootstrap.min.css') }} rel="stylesheet">

        <!-- Custom styles for this page -->
        <link href={{ url_for('static', filename='css/base.css') }} rel="stylesheet">
    </head>

    <body class="bg-success">
        <!-- Main navbar -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand mr-auto mr-lg-0" href="#">
                ADE-Scheduler
            </a>
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Switch account</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <!-- Defiling menu -->
        <div class="nav-scroller bg-white shadow-sm">
            <nav class="nav nav-underline">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="nav-link active" data-toggle="collapse" data-target="#sidebarMenu">Dashboard</a>
                <a class="nav-link" href="#">
                    Friends
                    <span class="badge badge-pill bg-light align-text-bottom">27</span>
                </a>
                <a class="nav-link" href="#">Explore</a>
                <a class="nav-link" href="#">Suggestions</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
            </nav>
        </div>

        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar -->
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="sidebar-sticky pt-3">
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">
                              <span data-feather="home"></span>
                              Dashboard <span class="sr-only">(current)</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="file"></span>
                              Orders
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="shopping-cart"></span>
                              Products
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="users"></span>
                              Customers
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="bar-chart-2"></span>
                              Reports
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="layers"></span>
                              Integrations
                            </a>
                          </li>
                        </ul>
                    </div>
                </nav>

                <!-- Main content -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                    Hello World :-)
                </main>
            </div>
        </div>

        <!-- jQuery -->
        <script src={{ url_for('static', filename='js/lib/jquery.min.js') }}></script>

        <!-- Bootstrap -->
        <script src={{ url_for('static', filename='js/lib/bootstrap.min.js') }}></script>

        <!-- JS Code for this page -->
        <script src={{ url_for('static', filename='js/base.js') }}></script>
    </body>
</html>
