# See docs at https://editorconfig.org/

# top-most EditorConfig file
root = true

# Coding and writing style
[*.{md, rst, py}]
ij_wrap_on_typing = true
ij_visual_guides = 88, 88
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js, html, json}]
indent_style = space
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true
