# https://htmlpreview.github.io/?https://github.com/newren/git-filter-repo/blob/docs/html/git-filter-repo.html#_user_and_email_based_filtering
# https://htmlpreview.github.io/?https://raw.githubusercontent.com/newren/git-filter-repo/docs/html/git-shortlog.html#_mapping_authors
#
# In summary:
# 1 - Fetch all 'user name <user_email>' via `git shortlog -sne --all`
# 2 - For each line that is to be changed (either name and/or email), write one line 'correct name <corret_email> incorrect name <incorrect_email>
# 3 - If all emails are correct, you can just write 'correct name <correct_email>'
# 4 - Run `git filter-repo --mailmap .mailmap` to fix all authors

# Jerome Eertmans
Jerome Eertmans <jeertmans@icloud.com>

# Gilles Poncelet
Gilles Poncelet <gillesponcelet98@gmail.com> Gilles Poncelet <53543187+Gilles-Poncelet@users.noreply.github.com>
Gilles Poncelet <gillesponcelet98@gmail.com> Gilles Poncelet <53543187+SnaKyEyeS@users.noreply.github.com>
Gilles Poncelet <gillesponcelet98@gmail.com> Gilles Poncelet <gilles.poncelet@student.uclouvain.be>
Gilles Poncelet <gillesponcelet98@gmail.com> Gilles Poncelet <SnaKyEyeS@users.noreply.github.com>

# Louis Navarre
Louis Navarre <louisnavarre@hotmail.com>
Louis Navarre <louisnavarre@hotmail.com> louisna <37408317+louisna@users.noreply.github.com>
Louis Navarre <louisnavarre@hotmail.com> Louis Navarre <37408317+louisna@users.noreply.github.com>
