Flask
Jinja2==3.0.3

Flask-SQLAlchemy==2.5.1
Flask-Migrate
Flask-WTF
Flask-Login
Flask-RESTful
Flask-Cors
Flask-Mail
Flask-Admin
Flask-SocketIO
Flask-JWT-Extended
Flask-Bcrypt
Flask-Session
Flask-DebugToolbar
Flask-Cache
Flask-Uploads
Flask-Script
Flask-Principal
Flask-Assets
Flask-HTTPAuth
Flask-Talisman
Flask-Caching
flask_jsglue
authlib
requests
lxml
ics
geopy
pandas
jsmin
flask-login
flask-session
flask-mail
flask-babel
flask-compress

SQLAlchemy==1.4.49
pymysql
psycopg2-binary
mongoengine

python-dotenv
gunicorn
pytest
coverage
tox
black
flake8
mypy

requests==2.28.2
beautifulsoup4
lxml
html5lib
sentry-sdk
celery
redis
authlib
MarkupSafe==2.1.1
click

itsdangerous
Werkzeug
ua-parser
plotly
