requests==2.26.0
alembic==1.7.4
click==8.0.3
Flask==2.0.2
flask_babel==2.0.0
flask_compress==1.10.1
flask_jsglue==0.3.1
flask_login==0.5.0
flask_mail==0.9.1
flask_migrate==3.1.0
flask_session==0.4.0
flask_sqlalchemy==2.5.1
geopy==2.2.0
ics==0.7
jsmin==3.0.1
lxml==4.6.5
numpy==1.22.1
pandas==1.4.0
plotly==5.5.0
pyOpenSSL==22.0.0
python-dotenv==0.19.2
pytz==2021.3
redis==3.5.3
SQLAlchemy==1.4.22
telegram==0.0.1
Werkzeug==2.0.2
psycopg2-binary==2.9.1
tatsu==5.6.1
user-agents==2.2.0
bcrypt==3.2.0
bleach==4.1.0
authlib==0.15.5
cryptography==3.4.7
jinja2==3.0.2
