alabaster==0.7.12
alembic==1.4.3
apipkg==1.5
appdirs==1.4.4
arrow==0.14.0
attrs==20.3.0
Babel==2.9.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
blinker==1.4
Brotli==1.0.9
CacheControl==0.12.6
cachelib==0.1.1
certifi==2020.12.5
cffi==1.14.4
cfgv==3.2.0
chardet==4.0.0
click==7.1.2
colorama==0.4.4
contextlib2==0.6.0.post1
cssmin==0.2.0
cycler==0.10.0
distlib==0.3.1
distro==1.5.0
dnspython==2.0.0
docutils==0.16
email-validator==1.1.2
execnet==1.7.1
filelock==3.0.12
Flask==1.1.2
Flask-Babel==2.0.0
Flask-Compress==1.8.0
Flask-JSGlue==0.3.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Principal==0.4.0
Flask-Security-Too==4.0.0
Flask-Session==0.3.2
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
geographiclib==1.50
geojson==2.5.0
geopy==2.1.0
html5lib==1.1
ics==0.7
identify==1.5.11
idna==2.5
imagesize==1.2.0
iniconfig==1.1.1
ipaddr==2.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsmin==2.2.2
kiwisolver==1.3.1
lockfile==0.12.2
lxml==4.6.3
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.3
msgpack==1.0.0
mypy-extensions==0.4.3
nodeenv==1.5.0
numpy==1.19.4
packaging==20.8
pandas==1.1.4
passlib==1.7.4
pathspec==0.8.1
pbr==5.5.1
pep517==0.9.1
Pillow==8.1.1
plotly==4.14.1
pluggy==0.13.1
pre-commit==2.9.3
progress==1.5
psycopg2-binary==2.8.6
py==1.9.0
pycparser==2.20
Pygments==2.7.3
pyparsing==2.4.7
pytest==6.2.1
pytest-flask==1.1.0
python-babel==0.0.0.dev0
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
pytoml==0.1.21
pytz==2020.5
PyYAML==5.4.1
redis==3.5.3
regex==2020.11.13
requests==2.25.1
retrying==1.3.3
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
speaklater==1.3
Sphinx==3.4.1
sphinx-click==2.5.0
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.22
TatSu==4.4.0
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
ujson==4.0.1
urllib3==1.25.11
virtualenv==20.2.2
webassets==2.0
webencodings==0.5.1
Werkzeug==1.0.1
WTForms==2.3.3
xarray==0.16.2
strong~=0.2.1
