<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title> <!-- title variable, same as for the jade
    double braces means that we want to output this as a text -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    {{{ body }}}
    <!-- using 3 braces means that we want the text inside beeing interpreted as html
    the name "body" is obligatory, we don't have the choice, it is a used name -->
</body>
</html>
