/*
 *  Schedule & link lists
 */
.list-links > .list-group-item,
.list-schedules > .list-group-item {
  line-height: 1.25;
  padding: 0;
  padding-right: 20px;
}
.list-links > .list-group-item:hover,
.list-schedules > .list-group-item:hover {
  background-color: #f8f9fa;
}
.list-links > .list-group-item > h6,
.list-schedules > .list-group-item > h6 {
  cursor: pointer;
  width: 100%;
  padding: 12px 0 12px 20px;
}

.current-schedule {
  background-color: rgba(40, 167, 69, 0.2);
}
.current-schedule:hover {
  background-color: rgba(40, 167, 69, 0.3) !important;
}



.create-external-calendar {
  background-color: rgba(0, 0, 0, 0.05);
}
.create-external-calendar:hover {
  background-color: rgba(0, 0, 0, 0.15) !important;
}
