html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
}

body {
  padding-top: 56px;
}

main {
  height: 100%;
}

.active-page {
  color: rgba(255, 255, 255, 0.9) !important;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
  .user-logged-out {
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
    width: calc(100vw - 32px);
  }
  .user-logged-in {
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
    width: calc(100vw - 32px);
    display: flex;
    flex-direction: column;
  }
  .user-logged-in > label {
    margin-bottom: 1em;
  }
}
