/*
 *  Calendar
 */
#calendar {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.tooltip-inner {
  white-space: pre-wrap;
}

.fc-toolbar-chunk > button,
.fc-toolbar-chunk > .fc-button-group > button {
  font-size: min(3vw, 1em) !important;
  padding: 3px 6px !important;
}
.fc-toolbar-title {
  font-size: min(3.5vw, 2em) !important;
}
.fc-col-header-cell-cushion {
  text-decoration: none;
  color: var(--bs-dark);
}
.fc-col-header-cell-cushion:hover {
  color: var(--bs-dark);
}
.fc-daygrid-day-number {
  text-decoration: none;
  color: var(--bs-dark);
}
.fc-daygrid-day-number:hover {
  text-decoration: none;
  color: var(--bs-dark);
}
.fc-timegrid-axis-cushion {
  text-decoration: none;
  color: var(--bs-dark);
}
.fc-timegrid-axis-cushion:hover {
  text-decoration: none;
  color: var(--bs-dark);
}
.fc-daygrid-week-number {
  text-decoration: none;
}
.fc-event {
  cursor: pointer;
  overflow: hidden;
}

/*
 * Nav scroller
 */
.nav-scroller {
  position: fixed;
  width: 100%;
  z-index: 5;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.container-fluid {
  padding-top: 45px;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
  padding-right: 5px;
}

.schedule-toggle {
  cursor: pointer;
  color: #343a40;
  font-weight: 500;
}
.schedule-toggle:hover {
  color: #007bff;
}

/*
 * Sidebar
 */
.btn-info-custom {
  position: absolute;
  top: 81px;
  right: 12px;
  z-index: 3;
}

.dropdown-schedules {
  width: 95%;
  max-width: 95%;
}

.dropdown-schedules > .active {
  background-color: rgba(40, 167, 69, 0.2);
}

.dropdown-schedules > .active:hover {
  background-color: rgba(40, 167, 69, 0.3);
}

.list-code > .code-item {
  padding: 0;
}
.list-code > .code-item:hover {
  background-color: #f8f9fa;
}
.code-item > .badge {
  margin-right: 20px;
}
.code-tag {
  cursor: pointer;
  width: 100%;
  padding: 12px 8px 12px 12px;
}

.btn-compute-clear {
  width: 100%;
}

#form-add-code > input {
  padding-left: 12px;
  padding-right: 8px;
  border-color: transparent;
}

#form-add-code > input:focus {
  border-color: transparent;
  box-shadow: none;
}

#form-add-code > button {
  margin: 10px 20px 10px;
  margin-left: 0;
  z-index: 2;
}

.scrollable-menu {
  width: 95%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

@media (max-width: 767.98px) {
  .nav-scroller > nav > .active {
    display: block;
  }
}

/*
 *  Color palette
 */
.swatch-wrapper {
  flex: 1 0 20%;
}
.swatch {
  width: 25px;
  height: 25px;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
.swatch-custom-events {
  width: 50%;
  height: 25px;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
