.fc-toolbar-chunk > button,
.fc-toolbar-chunk > .fc-button-group > button {
  font-size: min(3vw, 1em) !important;
  padding: 3px 6px !important;
}
.fc-toolbar-title {
  font-size: min(3.5vw, 2em) !important;
}
.fc-col-header-cell-cushion {
  text-decoration: none;
  color: black;
}
.fc-col-header-cell-cushion:hover {
  color: black;
}
.fc-daygrid-day-number {
  text-decoration: none;
  color: black;
}
.fc-daygrid-day-number:hover {
  text-decoration: none;
  color: black;
}
.fc-timegrid-axis-cushion {
  text-decoration: none;
  color: black;
}
.fc-timegrid-axis-cushion:hover {
  text-decoration: none;
  color: black;
}
.fc-daygrid-week-number {
  text-decoration: none;
}
