body {
  height: initial;
}

.navigator {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: 56px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.navigator-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 56px);
  overflow-x: hidden;
  overflow-y: auto;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .navigator-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.btn-nav {
  position: fixed;
  z-index: 4;
  bottom: 40px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
@media (min-width: 767.98px) {
  .btn-nav {
    display: none;
  }
}

.main-link {
  color: var(--bs-dark);
}
.main-link.active {
  color: var(--bs-light) !important;
  background-color: var(--bs-dark) !important;
}
.main-link + .nav {
  display: none;
}
.main-link.active + .nav {
  display: block;
}

.sub-nav > .nav-link {
  color: var(--bs-gray);
}
.sub-nav > .nav-link:hover {
  color: var(--bs-dark);
}
.sub-nav > .nav-link.active {
  color: var(--bs-success);
  background-color: transparent;
}
