{% extends "base.html" %}
{% block head %}
<style>
    * { padding: 0; margin: 0; }
    canvas { background: #000; display: block; margin: 0 auto; }
</style>
{% endblock %}
{% block body %}
    <div style="flex-direction: row; justify-content: center; align-items: center; flex: 1;">
        <div>
            <div class="callout callout-danger">
                <h4>Error 404</h4>
                <p>This page does not exist</p>
            </div>
            <canvas id="myCanvas" width="480" height="320" style="margin: auto;"></canvas>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/tennisAI.js"></script>
    <script>
        window.addEventListener("keydown", function(e) {
        // space and arrow keys
        if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
            e.preventDefault();
        }
    }, false);
    </script>
{% endblock %}