<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ADE Scheduler</title>

    <!-- Theme style -->
    <link rel="stylesheet" href="/static/css/AdminLTE.css">
    <!-- AdminLTE Skin -->
    <link rel="stylesheet" href="/static/css/skins/skin-blue.min.css">


    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-sandstone.min.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    {%block head%}{%endblock%}

    <style>
        html, body {
            height: 100%;
        }
        #main-container {
            height: 100%;
            overflow-y: hidden; /* don't show content that exceeds my height */
            display: flex;
        }
        .main-footer {
            height: 51px;
        }
        a.invalid-feedback:hover {
            color: #ff3126;
            text-decoration: none;
        }
    </style>

</head>

<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>S</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>ADE</b>Scheduler</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation" style="height: 50px;">
                <!-- Sidebar toggle button-->
                <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button" style="padding: 5px 5px">
                    <i class="fas fa-bars"></i>
                </a>

                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav" style="display: inline;">

                     {#   <!-- User Account Menu -->
                        <li class="dropdown user user-menu" style="float: left">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">User</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    User Menu
                                </li>
                                <li class="user-body">
                                    Content goes here
                                </li>
                                <li class="user-footer">
                                    sign-in/sign out buttons
                                </li>
                            </ul>
                        </li>#}

                        <!-- Control Sidebar Toggle Button -->
                        <li style="float: right; margin-left: 15px;">
                            <a href="" data-toggle="control-sidebar" role="button">
                                <i class="fas fa-cogs"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="/">
                            <i class="fa fa-tasks"></i> <span>{{ _('Calendar') }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/help">
                            <i class="fa fa-tasks"></i> <span>{{ _('Help') }}</span>
                        </a>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

      <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                {% block bodyhead %}
                {% endblock %}
            </section>

            <!-- Main content -->
            <section class="content container-fluid" id="main-container">
                {% block body %}
                {% endblock %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer" id="footer-relou">
            <div style="float: left">
                <a href="https://github.com/SnaKyEyeS/ADE-Scheduler" style="text-decoration: underline; color: #444;">
                    <b>{{ _('Open Source software') }}</b>
                </a>
                {{ _('  designed by Gilles Poncelet, Louis Navarre and Jérome Eertmans, students at the Ecole Polytechnique de Louvain.') }}
            </div>
            <div style="float: right; display: flex;">
                <div class="form-group" style="width: 70px; margin-right: 15px; margin-bottom: 0; margin-top: -3px;">
                    <select class="form-control form-control-sm" id="locale-selector" onchange=locale_selector(this);>
                        <option id="locale-en">FR</option>
                        <option id="locale-fr">EN</option>
                    </select>
                </div>
                <div>
                    <a href="mailto:adescheduler@gmail.com" style="text-decoration: none; color: #444;"><strong>{{ _('Contact us') }}</strong></a>
                </div>
            </div>


        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark text-white">
            <div style=" display: flex; justify-content: space-between; align-items: center; margin-top: 15px; height: 30px;">
                <h3 style="margin-left: 15px;">
                    <strong>{{ _('Settings') }}</strong>
                </h3>
                <button class="btn btn-outline-light btn-sm" type="submit" name="submit" value="Settings" form="form-user-preferences" style="margin-right: 15px;">{{ _('Save') }}</button>
            </div>
            <form role="form" action="/" method="post" id="form-user-preferences">
                <div class="box-body">
                    <div style="margin-top: 10px">
                        <label for="projectid-select"><strong>{{ _('Academic Year') }}</strong></label>
                        <select class="custom-select" id="projectid-select" name="projectid-select" style="margin-left: 15px; width: 84%;">
                        {% for year in academic_years %}
                            {% if year.id == project_id %}
                                <option value={{ year.id }} selected>{{ year.year }}</option>
                            {% else %}
                                <option value={{ year.id }}>{{ year.year }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    </div>

                    <div style="margin-top: 15px">
                        <label><strong>{{ _('Course priority') }}</strong></label>
                        <div style="margin-left: 15px;">
                        {% for code in codes %}
                            <label for="customRange" style="font-size: 11px;">{{ code }}</label>
                            <input type="range" class="custom-range" id="range-{{ code }}" name="range-{{ code }}" style="width: 90%;">
                        {% endfor %}
                            <small class="text-muted">
                                {{ _('Customize the priority given to a course, from no priority at all to maximum priority.') }}
                            </small>
                        </div>
                    </div>

                    <div style="margin-top: 15px">
                        <label><strong>{{ _('Computation') }}</strong></label>
                        <div class="custom-control custom-checkbox" style="margin-left: 15px;">
                            {% if safe_compute %}
                            <input type="checkbox" class="custom-control-input is-valid" id="safe-compute" name="safe-compute" value=true checked>
                            {% else %}
                            <input type="checkbox" class="custom-control-input is-invalid" id="safe-compute" name="safe-compute">
                            {% endif %}
                            <label class="custom-control-label" for="safe-compute"><strong>{{ _('Safe compute') }}</strong></label>
                            <a class="invalid-feedback" href="/help">
                                {{ _('WARNING: may cause long computation times, see help section.') }}
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <!-- Font Awesome JS -->
    <script src="/static/fontawesome/js/all.min.js"></script>

    <!-- jQuery  -->
    <script src='/static/jquery/jquery.min.js'></script>
    <!-- AdminLTE App -->
    <script src="/static/js/adminlte.min.js"></script>
    <!-- Popper.JS -->
    <script src='/static/popper/popper.min.js'></script>
    <!-- Bootstrap JS -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $("#locale-selector").val({{ locale|tojson }}.toUpperCase());
        function locale_selector(e) {
            $.get('locale/' + e.value, {}, function(){location = location} )
        }

        $('#safe-compute').on('change', function() {
            if (this.checked && this.classList.contains('is-invalid')) {
                this.classList.remove('is-invalid');
                this.classList.add('is-valid')
            }
            if (!this.checked && this.classList.contains('is-valid')) {
                this.classList.remove('is-valid');
                this.classList.add('is-invalid')
            }
        });

        Object.entries({{ priority|safe }}).forEach(function (el) {
            $('#range-' + el[0]).val(el[1]);
        });
    </script>

    {%block js%}{%endblock%}
</body>

</html>