<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ADE Scheduler</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-sandstone.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
    <!-- AdminLTE Skin -->
    <link rel="stylesheet" href="/static/css/skins/skin-blue.min.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    {%block head%}{%endblock%}
</head>

<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>A</b>S</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>ADE</b>Scheduler</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation" style="height: 50px;">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="padding: 5px 5px"></a>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu" data-widget="tree">
            <li>
              <a href="/">
                <i class="fa fa-tasks"></i> <span>Calendar</span>
              </a>
            </li>
            <li>
              <a href="/preferences">
                <i class="fa fa-tasks"></i> <span>User preferences</span>
              </a>
            </li>
            <li>
              <a href="/help">
                <i class="fa fa-tasks"></i> <span>Help</span>
              </a>
            </li>
          </ul>
          <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          {% block bodyhead %}
          {% endblock %}
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            {% block body %}
            {% endblock %}
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2019</strong>
            <div class="form-group">
                <label for="exampleSelect1">Example select</label>
                <select class="form-control" id="locale-selector" onchange=locale_selector(this)>
                    <option id="locale-en">FR</option>
                    <option id="locale-fr">EN</option>
                </select>
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- Font Awesome JS -->
    <script src="/static/fontawesome/js/solid.js"></script>
    <script src="/static/fontawesome/js/fontawesome.js"></script>

    <!-- jQuery  -->
    <script src='/static/jquery/jquery.min.js'></script>
    <!-- Popper.JS -->
    <script src='/static/popper/popper.js'></script>
    <!-- Bootstrap JS -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/static/js/adminlte.min.js"></script>

    <script>
        function locale_selector(e) {
            $.get('locale/' + e.value, {}, function(){location = location} )
        }
    </script>


    {%block js%}{%endblock%}
</body>

</html>