{% extends "base.html" %}

{% block head %}
    <link href='/static/fullcalendar/core/main.css' rel='stylesheet'/>
    <link href='/static/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/list/main.css' rel='stylesheet' />

    <style>
        html, body {
            margin: 0;
            padding: 0;
            overflow: hidden; /* don't do scrollbars */
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
            }
        #wrap {
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
        #external-events {
            float: left;
            width: 11%;
            padding: 0 10px;
            border: 1px solid #ccc;
            background: #eee;
            text-align: left;
        }
        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }
        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }
        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            color: #666;
        }
        #external-events p input {
            margin: 0;
            vertical-align: middle;
        }
        #calendar {
            float: right;
            width: 88%;
            height: 100%;
        }
        .popper,
        .tooltip {
            position: absolute;
            z-index: 9999;
            background: #FFC107;
            color: black;
            width: 150px;
            border-radius: 3px;
            box-shadow: 0 0 2px rgba(0,0,0,0.5);
            padding: 10px;
            text-align: center;
        }
        .style5 .tooltip {
            background: #1E252B;
            color: #FFFFFF;
            max-width: 200px;
            width: auto;
            font-size: .8rem;
            padding: .5em 1em;
        }
        .popper .popper__arrow,
        .tooltip .tooltip-arrow {
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            margin: 5px;
        }

        .tooltip .tooltip-arrow,
        .popper .popper__arrow {
            border-color: #FFC107;
        }
        .style5 .tooltip .tooltip-arrow {
            border-color: #1E252B;
        }
        .popper[x-placement^="top"],
        .tooltip[x-placement^="top"] {
            margin-bottom: 5px;
        }
        .popper[x-placement^="top"] .popper__arrow,
        .tooltip[x-placement^="top"] .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
        .popper[x-placement^="bottom"],
        .tooltip[x-placement^="bottom"] {
            margin-top: 5px;
        }
        .tooltip[x-placement^="bottom"] .tooltip-arrow,
        .popper[x-placement^="bottom"] .popper__arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
        .tooltip[x-placement^="right"],
        .popper[x-placement^="right"] {
            margin-left: 5px;
        }
        .popper[x-placement^="right"] .popper__arrow,
        .tooltip[x-placement^="right"] .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
        .popper[x-placement^="left"],
        .tooltip[x-placement^="left"] {
            margin-right: 5px;
        }
        .popper[x-placement^="left"] .popper__arrow,
        .tooltip[x-placement^="left"] .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-xs-6">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Current courses</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Code</th>
                        </tr>
                        <!-- For the course-->
                        {% for code in codes %}
                            <tr>
                                <td>
                                    {{ code }}
                                </td>
                                <td style="width:40px;"><button type="button" class="btn btn-box-tool" onclick="deleteCourse({{ code }})"><i class="fa fa-trash-o"></i>
                                </button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <!-- /.box-body -->
        </div>
    <!-- /.box -->
    </div>
    <div id='wrap', style="height: 550px">
        <div id='external-events'>
            <h4>Block Time Slots</h4>
            <div id='external-events-list'>
                <div class='fc-event' , style="background-color: #46b92f; border-color: #46b92f">Low</div>
                <div class='fc-event' , style="background-color: #b97012; border-color: #b97012">Medium</div>
                <div class='fc-event' , style="background-color: #b91826; border-color: #b91826">High</div>
            </div>
        </div>
        <div id='calendar'></div>
        <div style='clear:both'></div>
    </div>
{% endblock %}

{% block js %}
    <script src='/static/parser/build/ical.js'></script>
    <script src='/static/fullcalendar/core/main.js'></script>
    <script src='/static/fullcalendar/interaction/main.js'></script>
    <script src='/static/fullcalendar/daygrid/main.js'></script>
    <script src='/static/fullcalendar/list/main.js'></script>
    <script src='/static/fullcalendar/timegrid/main.js'></script>
    <script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
    <script src='https://unpkg.com/popper.js/dist/umd/popper.min.js'></script>

    <script>
        // Course events (schedule)
        let eventsArray = [];
        let parsed_data = {{ data|safe }};
        for (let i = 0; i < parsed_data.length; i++) {
                eventsArray.push(parsed_data[i]);
        }

        // Forbidden time slots (user's input)
        // TODO: envoyer l'info vers le back-end
        // TODO: sauvegarde des FTS lors d'actualisation --> créer tableau FTS dans le back-end
        let forbiddenTimeSlots = [];

        // FullCalendar initialization
        document.addEventListener('DOMContentLoaded', function() {
            // Initialise the draggable "forbidden time slots"
            let containerEl = document.getElementById('external-events-list');
            new FullCalendarInteraction.Draggable(containerEl, {
                itemSelector: '.fc-event',
            });

            // Initialize the calendar
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'list', 'timeGrid'],
                height: 'parent',
                width: 'parent',
                header: {
                    left: 'prev,next, today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                minTime: '08:00:00',
                maxTime: '20:00:00',
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                droppable: true,
                eventLimit: false, // allow "more" link when too many events
                weekNumberCalculation: 'ISO',

                // Function called when we need to refresh the events
                // Fetches the events in eventsArray and forbiddenTimeSlots
                events: function( fetchInfo, successCallback, failureCallback ) {
                    successCallback(eventsArray.concat(forbiddenTimeSlots))
                },

                // Extra info when hovering an event
                // using tooltip.js + popper.js
                eventRender: function(arg) {
                    let tooltip = new Tooltip(arg.el, {
                        title: arg.event.extendedProps.description,
                        placement: 'top',
                        trigger: 'hover',
                        container: 'body'
                    });
                },

                // Function called when the user drops a "forbiddenTimeSlot" event
                drop: function(arg) {
                    // TODO: Rendre la fonction robuste aux erreurs des utilisateurs (try-catch)
                    // TODO: Verifier que il y a pas de bug (OK normalement mais y'avait des trucs chelou)
                    // TODO: Gérer la récurrence (à voir si on le fait, c'est supra relou je crois)
                    // Event begin:
                    let dateStart = new Date(arg.date.getFullYear(), arg.date.getMonth(), arg.date.getDate());
                    let hStart = prompt('Enter a start hour as HH:MM:');
                    dateStart.setHours(parseInt(hStart.split(':')[0]));
                    dateStart.setMinutes(parseInt(hStart.split(':')[1]));

                    // Event end:
                    let dateEnd = new Date(arg.date.getFullYear(), arg.date.getMonth(), arg.date.getDate());
                    let hEnd = prompt('Enter an end hour as HH:MM:');
                    dateEnd.setHours(parseInt(hEnd.split(':')[0]));
                    dateEnd.setMinutes(parseInt(hEnd.split(':')[1]));

                    let evt = {
                        title: arg.draggedEl.textContent,
                        start: dateStart,
                        end: dateEnd,
                        backgroundColor: arg.draggedEl.style.backgroundColor,
                        borderColor: arg.draggedEl.style.borderColor,
                        editable: true,
                        description: 'A time slot where the user would like to be free'
                    };
                    forbiddenTimeSlots.push(evt);
                    calendar.refetchEvents();
                },

                // Function called when the user tries to moves a "forbiddenTimeSlot" event
                eventDrop: function(arg){
                    // First, we remove the event before the drag
                    let i;
                    for (i = 0; i < forbiddenTimeSlots.length; i++) {
                        let o = forbiddenTimeSlots[i];
                        if(o.title === arg.oldEvent.title && o.start.toISOString() === arg.oldEvent.start.toISOString()
                            && o.end.toISOString() === arg.oldEvent.end.toISOString()) {
                            forbiddenTimeSlots.splice(i,1);
                            break;
                        }
                    }
                    // We then add the new event
                    forbiddenTimeSlots.push(arg.event);
                },

                // Function called when the user tries to resize a "forbiddenTimeSlot" event
                eventResize: function(arg) {
                    // First, we remove the event before the resize
                    let i;
                    for (i = 0; i < forbiddenTimeSlots.length; i++) {
                        let o = forbiddenTimeSlots[i];
                        if(o.title === arg.prevEvent.title && o.start.toISOString() === arg.prevEvent.start.toISOString()
                            && o.end.toISOString() === arg.prevEvent.end.toISOString()) {
                            forbiddenTimeSlots.splice(i,1);
                            break;
                        }
                    }
                    // We then add the new event
                    forbiddenTimeSlots.push(arg.event);
                }
            });
            calendar.render();
        });
        function deleteCourse(code)
        {
            console.log('deletion');
            $.post("/remove/code/"+code,() => window.location.reload());
        }
    </script>
{% endblock %}
