{% extends "base.html" %}
{% block head %}
    <link href='/static/fullcalendar/core/main.css' rel='stylesheet'/>
    <link href='/static/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/list/main.css' rel='stylesheet' />
    <link href='/static/clockpicker/bootstrap-clockpicker.min.css' rel='stylesheet' />

    <style>
        :root {
            --sched-1-color: #f73dff;
            --sched-2-color: #5be4ff;
            --sched-3-color: #fff117;
        }
        #calendar {
            width: 100%;
            height: 100%;
        }
        .dropdown-menu {
            max-height: 200px;
            overflow-y:auto;
        }
        .dropdown:hover>.dropdown-menu {
            display: block;
        }
        .tooltip-inner {
            white-space:pre;
            max-width:none;
            background-color: #ffb019;
            border-color: #ffb019;
            box-shadow: 0 0 3px rgba(0,0,0,0.5);
            color: black;
        }
        .modal {
          text-align: center;
        }
        @media screen and (min-width: 768px) {
            .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
            }
        }
        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block bodyhead %}
    <div>
        <nav class="navbar navbar-expand-lg" style="padding: 0;">
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <ul class="nav nav-tabs" id="nav-tab-cal">
                        <li class="nav-item" style="cursor: pointer;">
                            <a class="nav-link active" id="nav-brut" data-toggle="tab" aria-expanded="false">ADE schedule</a>
                        </li>
                        {% if data_sched|length > 0 %}
                            <li class="nav-item" style="cursor: pointer;">
                                <a class="nav-link" id="nav-sched-1" data-toggle="tab" aria-expanded="false">1st schedule</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">1st schedule</a>
                            </li>
                        {% endif %}
                        {% if data_sched|length > 1 %}
                            <li class="nav-item" style="cursor: pointer;">
                                <a class="nav-link" id="nav-sched-2" data-toggle="tab" aria-expanded="false">2nd schedule</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">2nd schedule</a>
                            </li>
                        {% endif %}
                        {% if data_sched|length > 2 %}
                            <li class="nav-item" style="cursor: pointer;">
                                <a class="nav-link" id="nav-sched-3" data-toggle="tab" aria-expanded="false">3rd schedule</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">3rd schedule</a>
                            </li>
                        {% endif %}
                        {% if data_sched|length > 0 %}
                            <li class="nav-item dropdown" id="dropdown-compare">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Compare</a>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 39px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <div class="form-group">
                                        <a class="dropdown-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="check-sched-default">
                                                <label class="custom-control-label" for="check-sched-default">ADE schedule</label>
                                            </div>
                                        </a>
                                        <a class="dropdown-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="check-sched-1">
                                                <label class="custom-control-label" for="check-sched-1">1st schedule</label>
                                            </div>
                                        </a>
                                        {% if data_sched|length > 1 %}
                                            <a class="dropdown-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="check-sched-2">
                                                    <label class="custom-control-label" for="check-sched-2">2nd schedule</label>
                                                </div>
                                            </a>
                                        {% endif %}
                                        {% if data_sched|length > 2 %}
                                            <a class="dropdown-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="check-sched-3">
                                                    <label class="custom-control-label" for="check-sched-3">3rd schedule</label>
                                                </div>
                                            </a>
                                        {% endif %}

                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="" id="btn-sched-compare">Go !</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link disabled" href="#">Compare</a>
                            </li>
                        {% endif %}
                    </ul>
                </ul>
                <ul class="navbar-nav">
                    <form class="form-vertical" action="/" method="post">
                        <div class="btn-group" role="group">
                            {% if up_to_date == False %}
                                <button class="btn btn-danger" type="submit" name="submit" value="Compute" style="width: 100%;"><strong>Compute</strong></button>
                            {% else %}
                                <button class="btn btn-success" type="submit" name="submit" value="Compute" style="width: 100%;"><strong>Compute</strong></button>
                            {% endif %}
                            <button class="btn btn-secondary" type="submit" name="submit" value="Clear" style="width: 100%;"><strong>Clear</strong></button>
                        </div>
                    </form>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <!-- TIME PROMPT (modal) -->
    <div class="modal fade" id="time-prompt" tabindex="-1" role="dialog" aria-labelledby="startEndTimePrompt" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body" style="height: 90px">
                    <div class="btn-group-vertical" style="width: 48%; margin-right: 2%; float: left">
                        <h5 style="text-align: center"><strong>Start</strong></h5>
                        <div class="input-group clockpicker">
                            <input type="text" class="form-control" value="08:00" id="start_time" readonly>
                        </div>
                    </div>
                    <div class="btn-group-vertical" style="width: 48%; margin-left: 2%; float: right">
                        <h5 style="text-align: center"><strong>End</strong></h5>
                        <div class="input-group clockpicker">
                            <input type="text" class="form-control" value="10:00" id="end_time" readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: left;">Cancel</button>
                    <button type="button" class="btn btn-success" id="time-prompt-confirm" style="float: right;">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- calendar body -->
    <div class="card border-primary mb-3" style="float: right; clear: right; width: 88%;">
        <div class="card-body">
            <div id='calendar'></div>
        </div>
    </div>

    <!-- drag-n-drop body -->
    <div class="card border-primary mb-3" style="float: left; clear: left; width: 11%; text-align: center;">
        <div class="card-header" style="padding: 5%"><strong>Block Time Slots</strong></div>
        <div class="card-body" style="padding: 5% 10%;">
            <div id='external-events-list'>
                <span class="badge badge-success" style="width: 100%; height: 100%; cursor: pointer;">Low</span>
                <span class="badge badge-warning" style="width: 100%; height: 100%; cursor: pointer;">Medium</span>
                <span class="badge badge-danger" style="width: 100%; height: 100%; cursor: pointer;">High</span>
            </div>
        </div>
    </div>

    <!-- course body -->
    <div class="card border-primary mb-3" style="float: left; clear: left; width: 11%; text-align: center;">
        <div class="card-header" style="padding: 5%"><strong>Current Courses</strong></div>
        <div class="card-body" style="padding: 5%">
            <table style="border-collapse: collapse">
                <tbody>
                    <!-- For the course-->
                    {% if codes|length < 1  %}
                        <tr style="align: center">
                            <td style="vertical-align: middle; padding-bottom:10px">
                                None
                            </td>
                        </tr>
                    {% endif %}
                    {% for code in codes %}
                        <tr style="align: center; padding: 0;">
                            <td style="word-break: break-all; padding: 0;">
                                <div class="dropdown dropright" style="margin: 0; padding: 0;">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" style="margin-right: -.125rem; margin-left: 0; padding: 0; word-break: break-all">{{ code }}</a>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start">
                                        <a class="dropdown-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="check-cm" checked=true>
                                                <label class="custom-control-label" for="check-cm">CM class</label>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="check-tp" checked=true>
                                                <label class="custom-control-label" for="check-tp">TP class</label>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="check-exam" checked=true>
                                                <label class="custom-control-label" for="check-exam">Exam class</label>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="check-oral" checked=true>
                                                <label class="custom-control-label" for="check-oral">Oral class</label>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="check-other" checked=true>
                                                <label class="custom-control-label" for="check-other">Other class</label>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </div>
                            </td>
                            <td style="padding: 0">
                                <button class="btn btn-default" onClick=deleteCourse("{{ code }}"); style="background-color: transparent; border-color: transparent;">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Add a course code -->
    <div class="form-group" style="float: left; clear: left; width: 11%; margin-bottom: -5px">
        <form class="form-horizontal" action="/" method="post">
            <label class="control-label"><strong>Add a course</strong></label>
            <div class="input-group mb-3" action="/" method="post">
                <input type="text" id='course-input' class="form-control" name="course_code" placeholder="Code">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit" name="submit" value="Add"><strong>+</strong></button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src='/static/fullcalendar/core/main.js'></script>
    <script src='/static/fullcalendar/interaction/main.js'></script>
    <script src='/static/fullcalendar/daygrid/main.js'></script>
    <script src='/static/fullcalendar/list/main.js'></script>
    <script src='/static/fullcalendar/timegrid/main.js'></script>
    <script src='/static/fullcalendar/bootstrap/main.js'></script>
    <script src='/static/clockpicker/bootstrap-clockpicker.min.js'></script>

    <script>
        // Focus on the Course Code input
        window.onload = function() {
            document.getElementById("course-input").focus();
        };

        // Refresh page on tab click
        $(document).ready(function(){
            $('a[data-toggle="tab"]').click(function(){
                window.location = window.location;
            });
        });

        // Remember the navbar's selected tab
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('id'));
        });
        let activeTab = localStorage.getItem('activeTab');
        if(activeTab) {
            $('#nav-tab-cal a[id="' + activeTab + '"]').tab('show');
        }

        // Compare the requested schedules
        $('#btn-sched-compare').on('click', function(event) {
            let str = 'compare_';
            if ($('#check-sched-default').is(':checked')) {
                str = str.concat('d');
            }
            if ($('#check-sched-1').is(':checked')) {
                str = str.concat('1');
            }
            if ($('#check-sched-2').is(':checked')) {
                str = str.concat('2');
            }
            if ($('#check-sched-3').is(':checked')) {
                str = str.concat('3');
            }
            localStorage.setItem('activeTab', str);
        });

        // Do not close dropdown on click inside
        $('.dropdown-toggle').on('click', function (e) {
            $(this).next().toggle();
        });
        $('.dropdown-menu.keep-open').on('click', function (e) {
            e.stopPropagation();
        });
    </script>

    <script>
        // Course Events selection
        let eventsArray = [];
        let schedules = {{ data_sched|safe }};
        {% if data_sched|length < 1 %}
            localStorage.setItem('activeTab', 'nav-brut');
        {% endif %}
        let str = localStorage.getItem('activeTab').split('_');
        switch (str[0]) {
            case 'nav-brut':
                eventsArray = {{ data_base|safe }};
            break;
            case 'nav-sched-1':
                eventsArray = JSON.parse(schedules.sched_1);
            break;
            case 'nav-sched-2':
                eventsArray = JSON.parse(schedules.sched_2);
            break;
            case 'nav-sched-3':
                eventsArray = JSON.parse(schedules.sched_3);
            break;
            case 'compare':
                let evtList;
                for (let i=0; i < str[1].length; i++){
                    switch (str[1].charAt(i)) {
                        case 'd':
                            eventsArray = {{ data_base|safe }};
                            break;
                        case '1':
                            evtList = JSON.parse(schedules.sched_1);
                            for (let j=0; j < evtList.length; j++) {
                                let evt = evtList[j];
                                evt.backgroundColor = getComputedStyle(document.documentElement).getPropertyValue('--sched-1-color');
                                evt.borderColor = getComputedStyle(document.documentElement).getPropertyValue('--sched-1-color');
                                eventsArray.push(evt);
                            }
                            break;
                        case '2':
                            evtList = JSON.parse(schedules.sched_2);
                            for (let j=0; j < evtList.length; j++) {
                                let evt = evtList[j];
                                evt.backgroundColor = getComputedStyle(document.documentElement).getPropertyValue('--sched-2-color');
                                evt.borderColor = getComputedStyle(document.documentElement).getPropertyValue('--sched-2-color');
                                eventsArray.push(evt);
                            }
                            break;
                        case '3':
                            evtList = JSON.parse(schedules.sched_3);
                            for (let j=0; j < evtList.length; j++) {
                                let evt = evtList[j];
                                evt.backgroundColor = getComputedStyle(document.documentElement).getPropertyValue('--sched-3-color');
                                evt.borderColor = getComputedStyle(document.documentElement).getPropertyValue('--sched-3-color');
                                eventsArray.push(evt);
                            }
                            break;
                    }
                }
                localStorage.setItem('activeTab', 'nav-brut');
            break;
        }

        // Forbidden time slots (user's input)
        let forbiddenTimeSlots = {{ fts|safe }};
        let dragToCopy = false;
        function send_fts_to_serv() {
            let xhttp = new XMLHttpRequest();
            let data = new FormData();
            let to_send = JSON.stringify(forbiddenTimeSlots);
            data.append('fts', to_send);
            xhttp.open('POST', '/getFTS', true);
            xhttp.send(data);
        }

        // FullCalendar initialization
        document.addEventListener('DOMContentLoaded', function() {
            // Initialise the draggable "forbidden time slots"
            let containerEl = document.getElementById('external-events-list');
            new FullCalendarInteraction.Draggable(containerEl, {
                itemSelector: '.badge'
            });

            // Initialize the calendar
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'list', 'timeGrid', 'bootstrap'],
                themeSystem: 'bootstrap',
                height: 500,
                width: 'parent',
                header: {
                    left: 'prev,next, today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                minTime: '08:00:00',
                maxTime: '20:00:00',
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                droppable: true,
                eventLimit: false, // allow "more" link when too many events
                weekNumberCalculation: 'ISO',

                // Remember where the user left the calendar
                defaultView: (localStorage.getItem("fcDefaultView") !== null ? localStorage.getItem("fcDefaultView") : 'dayGridMonth'),
                defaultDate: (localStorage.getItem("fcDefaultDate") !== null ? parseInt(localStorage.getItem("fcDefaultDate")) : Date.now()),
                datesRender: function (arg) {
                    localStorage.setItem("fcDefaultView", arg.view.type);
                    localStorage.setItem("fcDefaultDate", arg.view.currentStart.getTime());
                },

                // Function called when we need to refresh the events
                // Fetches the events in eventsArray and forbiddenTimeSlots
                events: function (fetchInfo, successCallback, failureCallback) {
                    successCallback(eventsArray.concat(forbiddenTimeSlots));
                },

                // Extra info when hovering an event
                eventRender: function (arg) {
                    $(arg.el).tooltip({
                        title: arg.event.extendedProps.description,
                        container: 'body',
                    });
                },

                // Fix for the tooltip "bug" when dragging/resizing
                eventPositioned: function (arg) {
                    if (arg.isMirror) {
                        $(arg.el).tooltip('dispose');
                    }
                },

                // Function called when the user drops a "forbiddenTimeSlot" event
                drop: function(arg) {
                    let modal = $('#time-prompt');

                    function timePromptConfirm(e) {
                        let startTime = $('#start_time').val();
                        let endTime = $('#end_time').val();
                        modal.modal('hide');

                        let dateStart = new Date(arg.date.getFullYear(), arg.date.getMonth(), arg.date.getDate());
                        dateStart.setHours(parseInt(startTime.split(':')[0]));
                        dateStart.setMinutes(parseInt(startTime.split(':')[1]));
                        let dateEnd = new Date(arg.date.getFullYear(), arg.date.getMonth(), arg.date.getDate());
                        dateEnd.setHours(parseInt(endTime.split(':')[0]));
                        dateEnd.setMinutes(parseInt(endTime.split(':')[1]));

                        let text = arg.draggedEl.textContent;
                        let color = window.getComputedStyle(arg.draggedEl, null).getPropertyValue("background-color");

                        // NEW EVENT
                        forbiddenTimeSlots.push({
                            title: text,
                            start: dateStart.toISOString(),
                            end: dateEnd.toISOString(),
                            backgroundColor: color,
                            borderColor: color,
                            editable: true,
                            description: 'A time slot where the user would like to be free'
                        });
                        send_fts_to_serv();
                        calendar.refetchEvents();
                    }

                    modal.on('click', '#time-prompt-confirm', timePromptConfirm);
                    modal.on('hide.bs.modal', function(e) {modal.off('click', '#time-prompt-confirm', timePromptConfirm);});
                    modal.modal();
                },

                // Function called to create a copy of a "forbiddenTimeSlot" event (with ALT+click)
                eventDragStart: function(arg) {
                    if(arg.jsEvent.altKey) {
                        dragToCopy = true;
                        calendar.refetchEvents();
                        $('div').tooltip('dispose');
                    }
                },

                // Function called when the user tries to moves a "forbiddenTimeSlot" event
                eventDrop: function(arg) {
                    if(!dragToCopy) {
                        // First, we remove the event before the drag
                        let i;
                        for (i = 0; i < forbiddenTimeSlots.length; i++) {
                            let o = forbiddenTimeSlots[i];
                            if (o.title === arg.oldEvent.title && o.start === arg.oldEvent.start.toISOString()
                                && o.end === arg.oldEvent.end.toISOString()) {
                                forbiddenTimeSlots.splice(i, 1);
                                break;
                            }
                        }
                    } else {
                        dragToCopy = false;
                    }
                    // We then add the new event
                    forbiddenTimeSlots.push({
                        title: arg.oldEvent.title,
                        start: arg.event.start.toISOString(),
                        end: arg.event.end.toISOString(),
                        backgroundColor: arg.oldEvent.backgroundColor,
                        borderColor: arg.oldEvent.borderColor,
                        editable: true,
                        description: 'A time slot where the user would like to be free'
                    });
                    send_fts_to_serv();
                },

                // Function called when the user tries to resize a "forbiddenTimeSlot" event
                eventResize: function(arg) {
                    // First, we remove the event before the drag
                    let i;
                    for (i = 0; i < forbiddenTimeSlots.length; i++) {
                        let o = forbiddenTimeSlots[i];
                        if(o.title === arg.prevEvent.title && o.start === arg.prevEvent.start.toISOString()
                            && o.end === arg.prevEvent.end.toISOString()) {
                            forbiddenTimeSlots.splice(i,1);
                            break;
                        }
                    }
                    // We then add the new event
                    forbiddenTimeSlots.push({
                        title: arg.prevEvent.title,
                        start: arg.event.start.toISOString(),
                        end: arg.event.end.toISOString(),
                        backgroundColor: arg.prevEvent.backgroundColor,
                        borderColor: arg.prevEvent.borderColor,
                        editable: true,
                        description: 'A time slot where the user would like to be free'
                    });
                    send_fts_to_serv();
                },

                // Delete a "forbiddenTimeSlot" event with SHIFT+click
                // Classical course events cannot be deleted !
                eventClick: function(arg) {
                    if(arg.jsEvent.shiftKey) {
                        let i;
                        for (i = 0; i < forbiddenTimeSlots.length; i++) {
                            let o = forbiddenTimeSlots[i];
                            if (o.title === arg.event.title && o.start === arg.event.start.toISOString()
                                && o.end === arg.event.end.toISOString()) {
                                forbiddenTimeSlots.splice(i, 1);
                                $(arg.el).tooltip('dispose');
                                arg.event.remove();
                                send_fts_to_serv();
                                break;
                            }
                        }
                    }
                }
            });
            calendar.render();
        });
    </script>

    <script>
        $('.clockpicker').clockpicker({
            placement: 'top',
            autoclose: true,
        });
    </script>

    <script>
        // Delete a course
        function deleteCourse(code) {
            $.post('/remove/code/'+code,() => window.location = window.location);
        }
    </script>
{% endblock %}
