{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<h2>{{ _('How does the scheduler work ?') }}</h2>
<ul style="list-style: none;">
    <li>
        <a href="/help">First item</a>
    </li>
    <li>
        <a href="/help">First item</a>
    </li>
</ul>

<h2>{{ _('What are the options ?') }}</h2>
<ul style="list-style: none;">
    <li>
        <a href="/help">First item</a>
    </li>
    <li>
        <a href="/help">First item</a>
    </li>
</ul>
{% endblock %}


{% block js %}
{% endblock %}