{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

    <h2>{{ _('How does the scheduler work ?') }}</h2>
    <div id="accordion">

        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-1">
                Question 1
            </h4>
            <div id="faq-1" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-2">
                Question 2
            </h4>
            <div id="faq-2" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-3">
                Question 3
            </h4>
            <div id="faq-3" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

        <h2 style="margin-top: 15px">{{ _('What are the preferences ?') }}</h2>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-4">
                Safe compute
            </h4>
            <div id="faq-4" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('As you may know, computing a schedule from all possibilities is a very hard and complex problem. In fact, it is known to be a NP-Complete problem.
                    As a result, some combinaison of courses can lead to a huge amount of time needed to computation. 
                    The <i>Safe-compute</i> option removes automatically before computation, all the possibilities for a same course that would lead to a conflict in the end.
                    Even if some schedule possibilities are then not computed, the saved amount of time can be very important; and the final result should be the same as without the option.')}}
                </div>
            </div>
        </div>

        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-5">
                Academid year
            </h4>
            <div id="faq-5" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    You can choose which academic year you want to compute your schedule.
                </div>
            </div>
        </div>

        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-6">
                Question 6
            </h4>
            <div id="faq-6" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

        <h2 style="margin-top: 15px">{{ _('About us') }}</h2>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-7">
                Who are we ?
            </h4>
            <div id="faq-7" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('We are three students from UCLouvain. By the time we started this project, we were finishing our bachelor\'s degree in engineering (electricity and mechanics for Jerome and Gilles; informatics and applied mathematics for Louis).')}}
                </div>
            </div>
        </div>

        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-8">
                Why did we make this project ?
            </h4>
            <div id="faq-8" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('Making your own schedule is something that students have been doing for a long time. And sometimes, specially at the EPL, we are drown in all the possibilites to make your own schedule.\n
                    Options, time conflicts, own comfort: everyone has his own preferences, and sometimes it is not easy to make your own schedule.\n
                    Our tool is here to help you during this reflexion time, and gives you a lot of flexibility to compute your own schedule ! Go in the above sections to see all the potential of it!')}}
                </div>
            </div>
        </div>

        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-9">
                Jérôme Eertmans
            </h4>
            <div id="faq-9" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('Jérôme is a noob. ')}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
{% endblock %}