{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<div style="flex-direction: column; flex: 1">

    <div id="accordion">
        <h2>{{ _('ADE Scheduler') }}</h2>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-intro">
                {{ _('What is ADE Scheduler ?') }}
            </h4>
            <div id="faq-intro" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('ADE Scheduler is a free tool designed by engineering students at the Ecole Polytechnique de Louvain. The purpose of the scheduler is to provide an easy-to-use tool to help students from the Université Catholique de Louvain get an overview of their schedule based on their choice of course. It provides a way to get ahead of any possible scheduling conflict and, if possible, resolve them by making the right choices. <br>
                    However, it is not an official tool provided by the UCLouvain and the EPL. You should still consult from official sources as ADE Scheduler does not replace all the instructions professors and university officials may give to the students.') }}
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-howtouse">
                {{ _('How to use ADE Scheduler ?') }}
            </h4>
            <div id="faq-howtouse" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('It is truly easy: you simply need to specify the code (e.g. "LELEC1530", "LANGL1873", etc.) of the courses you are interested by. The possibilities related to your choice will then be displayed for you as you can find them on the UCLouvain\'s ADE website. <br>
                    Next, simply press "Compute" and voilà ! the three best schedules will be shown. Once you have picked your schedule, you can easily export it to your own agenda by pressing the "Export" button.') }}
                </div>
                <div class="embed-responsive embed-responsive-16by9" style="width: 50%; margin: auto auto 10px;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9m4b6rOyxZA" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <h2 style="margin-top: 15px">{{ _('Export & Load') }}</h2>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-export-load-possibilities">
                {{ _('What are the possibilities ?') }}
            </h4>
            <div id="faq-export-load-possibilities" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('ADE Scheduler offers three options to export your schedule to your own calendar:') }}
                    <ul>
                        <li>{{ _('Download an iCal file') }}</li>
                        <li>{{ _('Non-modifiable subscription link') }}</li>
                        <li>{{ _('Modifiable subscription link') }}</li>
                    </ul>
                </div>
                <div class="embed-responsive embed-responsive-16by9" style="width: 50%; margin: auto auto 10px;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/p9Ia-w_fzYM" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-ical-file">
                {{ _('Download an iCal file') }}
            </h4>
            <div id="faq-ical-file" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('You can export the schedule of your choice in the iCal (.ics) format and then add it to your own calendar (e.g: Google Calendars offers such an option). <br>
                    To do so, simply press the "Export" button, choose the schedule you wish to export and press the "Download file" button. The download will start right away.') }}
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-nonmod-link">
                {{ _('Non-modifiable link') }}
            </h4>
            <div id="faq-nonmod-link" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('Some calendars offer the possibility to suscribe to a pre-generated calendar. It means that you simply need to give a link to your calendar and it will regularly make a request to our website to automatically load the schedule you chose. This allows your calendar to stay updated, even if there is a last minute change in your schedule (new local, course cancelled, etc.). The calendar automatically requests for new updates every now and then, you do not have to worry about staying up-to-date ! <br>
                    To do so, simply press the "Export" button, choose the schedule you wish to export and press the "Generate link" button. Then you simply need to copy/paste the link to your calendar\'s subscription system.') }}
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-mod-link">
                {{ _('Modifiable link') }}
            </h4>
            <div id="faq-mod-link" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('The modifiable link works in the exact same way as the non-modifiable link. However, you can protect your link with a username and a password. The advantage of doing so is that you will be able to come back at a later time and modify your scheduling wishes without having to start from scratch. You can also retrieve your link in case you lost it. <br>
                    To create such a link, simply proceed as if it were a non-modifiable link, but toggle the "Modifiable & Protected link" button on and choose a username and password to proceed. Then, click "Generate link". <br>
                    To retrieve your scheduling wishes, press the "Log in" button, specify your username & password then press "Load session". You can then modify your preferences/courses and save them through the same process, but by pressing "Save changes" instead. <br>
                    Finally, press the "Forgot link ?" button to retrieve your subscription link.') }}
                </div>
            </div>
        </div>


        <h2 style="margin-top: 15px">{{ _('Settings & Customization') }}</h2>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-possibilities">
                {{ _('What are the possibilities ?') }}
            </h4>
            <div id="faq-possibilities" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('ADE Scheduler offers various customization possibilites, so that you can compose a schedule that best fits your own needs and wishes. Here is a list of those possibilites, which we will dive into more in details in the following sections:') }}
                     <ul>
                        <li>{{ _('Forbidden Time Slots') }}</li>
                        <li>{{ _('Course IDs selection') }}</li>
                        <li>{{ _('Course priority') }}</li>
                        <li>{{ _('Academic Year') }}</li>
                        <li>{{ _('Safe compute') }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-fts">
                {{ _('Forbidden Time Slots') }}
            </h4>
            <div id="faq-fts" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('All the students have a life beside the university and this life sometimes brings its own scheduling constrains. Our Forbidden Time Slots ("FTS") system provides a way for the user to specify when he would like to be free. There are three level of priority you can pick from: low, medium and high. The higher the priority, the harder the scheduling algorithm tries to free a time slot from any university events. <br>
                    However, it does not guaranty that it will be able to find a way around your specifications and wishes. To add a FTS, you simply need to pick one and drag it onto the calendar, at the day you wish to be free. You will then have to specify a start and end time. <br>
                    Once your FTS is created, you can move it around by dragging it and you can even duplicate it (in case your indisponibility would be a recurring event) by pressing the ALT key and dragging it. If you made a mistake, you can easily delete a FTS by clicking on it with the SHIFT key pressed.') }}
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-ids">
                {{ _('Course IDs selection') }}
            </h4>
            <div id="faq-ids" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('You can select/deselect certain courses so they will not appear on the calendar. This is a great tool to comply with university instructions regarding imposed CM or TP.') }}
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-priority">
                {{ _('Course priority') }}
            </h4>
            <div id="faq-priority" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('You can customize the priority of each course you have selected. This priority is used, for example, in case of conflict. To adjust the priority of a course, move the corresponding cursor in the Settings menu.') }}
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-academic-year">
                {{ _('Academic Year') }}
            </h4>
            <div id="faq-academic-year" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('If you want to check your schedule for the next year, you can change the Academic Year from the Settings menu. The scheduler will automatically fetch the courses for the specified year.') }}
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-safecompute">
                {{ _('Safe compute') }}
            </h4>
            <div id="faq-safecompute" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('Computing a all the possible schedules is a very hard and complex problem, known to be NP-Complete. As a result, some course combinations can lead to huge computation times. <br>
                    The <i>safe compute</i> option acts as a safeguard by removing some obviously conflicted schedules before the computation starts. This guarantees short computation times. <br>
                    However, you can manually override this option and request for a complete computation. Be warned: the resulting lags can be very important.') }}
                </div>
            </div>
        </div>

        <h2 style="margin-top: 15px">{{ _('About us') }}</h2>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-7">
                {{_('Who are we ?') }}
            </h4>
            <div id="faq-7" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('We are three students from UCLouvain. By the time we started this project, we were finishing our bachelor\'s degree in engineering (electricity and mechanics for Jerome and Gilles; informatics and applied mathematics for Louis).')}}
                </div>
            </div>
        </div>

        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-8">
                {{_('Why did we make this project ?')}}
            </h4>
            <div id="faq-8" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('Making your own schedule is something that students have been doing for a long time. And sometimes, specially at the EPL, we are drown in all the possibilites to make your own schedule. <br>
                    Options, time conflicts, own comfort: everyone has his own preferences, and sometimes it is not easy to make your own schedule. <br>
                    Our tool is here to help you during this reflexion time, and gives you a lot of flexibility to compute your own schedule ! Go in the above sections to see all the potential of it!')}}
                </div>
            </div>
        </div>

        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-jeje">
                {{_('Jérome Eertmans')}}
            </h4>
            <div id="faq-jeje" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('Jérome is a student in the Ecole Polytechnique de Louvain, in civil engineering. He completed his bachelor degree in Electricity and Mechanics. He is now pursuing a master deree in Mechatronics. <br> ')}}
                    Mail:  <a href="mailto:jerome.eertmans@student.uclouvain.be"> jerome.eertmans@student.uclouvain.be </a>
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-jyl">
                {{_('Gilles Poncelet')}}
            </h4>
            <div id="faq-jyl" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('Gilles is a student in the Ecole Polytechnique de Louvain, in civil engineering. He completed his bachelor degree in Electricity and Mechanics. He is now pursuing a master deree in Mechatronics. <br> ')}}
                     Mail:  <a href="mailto:gilles.poncelet@student.uclouvain.be"> gilles.poncelet@student.uclouvain.be </a>
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header" style="cursor: pointer" data-toggle="collapse" data-target="#faq-loui">
                {{_('Louis Navarre')}}
            </h4>
            <div id="faq-loui" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ _('Louis is a student at the Ecole Polytechnique de Louvain, in civil engineering. He completed his bachelor degree in Applied Mathematics and Computing Science. He is now pusruing a master degree in Computing Sciences. <br> ')}}
                    Mail:  <a href="mailto:navarre.louis@student.uclouvain.be"> navarre.louis@student.uclouvain.be </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
{% endblock %}