{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
    <div style="flex-direction: column; flex: 1">
        <input class="form-control mr-sm-2" type="text" id="search-local-input" placeholder="Search">
{#        <div class="form-group" style="margin-bottom: -5px">#}
{#            <label class="control-label"><strong>Recherche parmis</strong></label>#}
{#            <div class="input-group mb-3">#}
{#                <select name="label">#}
{#                    <option value="name">Nom</option>#}
{#                    <option value="code">Code</option>#}
{#                    <option value="country">Pays</option>#}
{#                </select>#}
{#                <input type="text" id='search-local-input' class="form-control" name="text" placeholder="search_map">#}
{#                <div class="input-group-append">#}
{#                    <button class="btn btn-secondary" type="submit" style="width: 100%;" name="submit" value="search_address"><strong>Rechercher</strong></button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ _('Name') }}</th>
                    <th scope="col">Code</th>
                    <th scope="col">Type</th>
                    <th scope="col">{{ _('Size') }}</th>
                    <th scope="col">{{ _('Zip Code') }}</th>
                    <th scope="col">{{ _('Country') }}</th>
                    <th scope="col">{{ _('Address 1') }}</th>
                    <th scope="col">{{ _('Address 2') }}</th>
                    <th scope="col">{{ _('City') }}</th>
                </tr>
            </thead>

            <tbody id="local-addr-body">

            </tbody>
        </table>
    </div>
{% endblock %}


{% block js %}



    <script>
        window.onload = function() {
            setUpBody({{ tables|safe }})
        };

        function setUpBody(rooms) {
            Object.keys(rooms).forEach(function(row) {
                let html = `
                    <tr>
                        <th scope="row">` + row + `</th>
                        <td>` + rooms[row]['name'] + `</td>
                        <td>` + rooms[row]['code'] + `</td>
                        <td>` + rooms[row]['type'] + `</td>
                        <td>` + rooms[row]['size'] + `</td>
                        <td>` + rooms[row]['zipCode'] + `</td>
                        <td>` + rooms[row]['country'] + `</td>
                        <td>` + rooms[row]['address_1'] + `</td>
                        <td>` + rooms[row]['address_2'] + `</td>
                        <td>` + rooms[row]['city'] + `</td>
                    </tr>`;
                $('#local-addr-body').append(html);
            });
        }

        $('#search-local-input').on('input', function (e) {
            $.ajax({
                type: "POST",
                url: '/search_address',
                data: {'text': $('#search-local-input').val()},
                success: function (data) {
                    $('#local-addr-body').empty();
                    setUpBody(data);
                },
            });
        })
    </script>
{% endblock %}