body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

main {
    margin: 0 auto;
    height: auto;
}

.form-change-pwd {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
