{% extends "base.html" %} {% block head %} <%
_.forEach(htmlWebpackPlugin.files.js, function(file) { %>
<script type="text/javascript" src="<%= file%>"></script>
<%}); %> {% endblock %} {% block body %}
<!-- Warning Modal -->
<div class="modal fade" id="warningModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content alert-danger">
      <div class="modal-header">
        <h5 class="modal-title">{{ _('Warning') }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        {{ _('You have unsaved changes in your current schedule. Continue ?') }}
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          {{ _('Cancel') }}
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          v-on:click="warningContinue"
        >
          {{ _('Continue') }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- external calendar modal -->
<div class="modal fade" id="externalCalendarModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <form
      class="modal-content needs-validation"
      id="form-create-external-calendar"
      v-on:submit.prevent="addExternalCalendar"
    >
        <div class="modal-header">
          <h5 class="modal-title">{{ _('Create an external calendar') }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="calcode" class="form-label"
              >{{_('Calendar code')}}</label
            >
            <input
              class="form-control"
              type="text"
              required
              v-model="externalCalendarForm.code"
            />
          </div>

          <div class="mb-3">
            <label>{{_('Calendar name')}}</label
            >
            <input
              class="form-control"
              type="text"
              required
              v-model="externalCalendarForm.name"
            />
          </div>

          <div class="mb-3">
            <label>{{_('Calendar URL')}}</label>
            <input
              class="form-control"
              type="text"
              required
              v-model="externalCalendarForm.url"
            />
          </div>

          <div class="mb-3">
            <label>{{_('Calendar description')}}</label>
            <input
              class="form-control"
              type="text"
              v-model="externalCalendarForm.description"
            />
          </div>

          <div class="mb-3">
            <p>
            {{ _('You can import an external calendar and attach it to a code. This way, ADE Scheduler users will be able to add this calendar to their schedule, and it will be updated automatically. Read more about this feature on the help page. Once submitted, your calendar must be approved before it becomes available. Send us an email to accelerate the approval process.') }}
            </p>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            {{_('Cancel')}}
          </button>
          <button type="submit" class="btn btn-success">
            {{_('Create the calendar')}}
          </button>
        </div>
    </form>
  </div>
</div>

<div class="container-lg">
  <div class="row">
    <div class="col-md-8 col-lg-9 p-3">
      <spinner v-bind:computing="computing">
        <div class="card mb-3">
          <div class="card-header">
            <div class="h5 mb-0 text-muted">{{ _('User settings') }}</div>
          </div>
          <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
              <h6>{{ _('Automatically save your changes') }}</h6>
              <button
                class="btn btn-sm"
                v-on:click="autoSave = !autoSave; changeAutoSave()"
                v-bind:class="[[ autoSave ? 'btn-outline-danger':'btn-outline-success' ]]"
              >
                [[ autoSave ? "{{ _('Deactivate') }}":"{{ _('Activate') }}" ]]
              </button>
            </div>
          </div>
        </div>

        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center"
            id="form-update-label"
          >
            <input
              class="form-control me-3"
              type="text"
              v-model="currentSchedule.label"
              v-if="isEditing"
              v-on:keyup.enter="updateLabel(currentSchedule.id)"
              v-on:blur="isEditing = false"
              v-on:keyup.esc="isEditing = false; currentSchedule.label = labelBackup;"
              v-focus
            />
            <div
              class="h5 mb-0 text-muted"
              id="schedule-label"
              v-else
              v-on:click="isEditing = true"
            >
              [[ currentSchedule.label ]]
            </div>
            <a
              class="text-success me-3"
              href="#"
              v-on:mousedown="updateLabel(currentSchedule.id)"
              v-show="isEditing"
            >
              <svg
                width="30px"
                height="30px"
                viewBox="0 0 16 16"
                class="bi bi-check"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"
                />
              </svg>
            </a>
            <a class="text-dark"
               href="#"
               data-bs-toggle="tooltip"
               title="{{_('Edit calendar\'s name')}}"
               v-on:click="isEditing = true">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-pencil"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                />
                <path
                  fill-rule="evenodd"
                  d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"
                />
              </svg>
            </a>
          </div>
          <div class="card-body">
            <label class="form-label" for="color-palette"
              >{{ _('Color palette') }}</label
            >
            <div
              class="d-flex flex-row flex-wrap justify-content-around mb-3"
              id="color-palette"
            >
              <v-swatches
                class="mx-1"
                show-fallback
                fallback-input-type="color"
                v-for="(color, i) in currentSchedule.color_palette"
                v-model="currentSchedule.color_palette[i]"
              ></v-swatches>
            </div>
            <div class="mb-3">
              <label class="form-label" for="select-project-id"
                >{{ _('Academic year') }}</label
              >
              <select
                class="form-select"
                style="max-width: 180px"
                v-model="currentSchedule.project_id"
                id="select-project-id"
              >
                <option v-for="pid in projectId" v-bind:value="pid.id">
                  [[ pid.year ]]
                </option>
              </select>
            </div>
            <div class="btn-group d-flex">
              <button
                class="btn btn-outline-secondary text-truncate"
                v-on:click="save"
              >
                {{ _('Save') }}
              </button>
              <button
                class="btn btn-outline-secondary text-truncate"
                v-on:click="viewSchedule($event, currentSchedule.id)"
              >
                {{ _('View') }}
              </button>
              <button
                class="btn btn-danger text-truncate"
                v-on:click="deleteSchedule($event, currentSchedule.id)"
              >
                {{ _('Delete') }}
              </button>
            </div>
          </div>
        </div>
      </spinner>
    </div>

    <div class="col-md-4 col-lg-3 p-3">
      <h4 class="d-flex justify-content-between align-items-center">
        <span class="text-muted">{{ _('Schedules') }}</span>
      </h4>
      <h6 v-if="schedules.length == 0">
        {{ _('You do not have any saved schedule at the moment') }}
      </h6>
      <ul class="list-group list-schedules">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          v-for="s in schedules"
          v-bind:key="s.id"
          v-bind:class="s.id === currentSchedule.id ? 'current-schedule' : ''"
        >
          <h6
            class="text-truncate my-0"
            v-on:click="loadSchedule($event, s.id)"
          >
            [[ s.label ]]
          </h6>
          <div class="d-flex flex-nowrap">
            <a
              class="text-secondary mx-2"
              href="#"
              data-bs-toggle="tooltip"
              title="{{_('View this schedule')}}"
              v-on:click="viewSchedule($event, s.id)"
            >
              <svg
                width="1.3em"
                height="1.3em"
                viewBox="0 0 16 16"
                class="bi bi-eye-fill"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                <path
                  fill-rule="evenodd"
                  d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                />
              </svg>
            </a>
            <a
              class="text-danger"
              href="#"
              data-bs-toggle="tooltip"
              title="{{_('Delete this schedule')}}"
              v-on:click="deleteSchedule($event, s.id)"
            >
              <svg
                width="1.3em"
                height="1.3em"
                viewBox="0 0 16 16"
                class="bi bi-x"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"
                />
                <path
                  fill-rule="evenodd"
                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"
                />
              </svg>
            </a>
          </div>
        </li>
      </ul>

      <h4
        class="d-flex justify-content-between align-items-center"
        style="margin-top: 0.5em"
      >
        <span class="text-muted"
          >{{ _('Your external calendars') }}</span
        >
      </h4>
      <h6 v-if="externalCalendars.length == 0">
        {{ _('You do not have any external calendar at the moment') }}
      </h6>
      <ul class="list-group list-courses">

        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          v-for="ec in externalCalendars"
          v-bind:key="ec.id"
        >
          <h6 class="text-truncate my-0">[[ ec.code ]]</h6>
          <div class="d-flex flex-nowrap">
            <a
              v-if="ec.approved"
              class="text-secondary mx-2"
              href="#"
              data-bs-toggle="tooltip"
              title="{{_('Approved')}}"
            >
              <svg
                width="1.3em"
                height="1.3em"
                viewBox="0 0 16 16"
                class="bi bi-check-lg"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                v-bind:class="ec.approved ? 'bi bi-check-lg' : 'bi bi-hourglass-split'"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
                />
              </svg>
            </a>
            <a
              v-else
              class="text-secondary mx-2"
              href="#"
              data-bs-toggle="tooltip"
              title="{{_('To be approved')}}"
            >
              <svg
                width="1.3em"
                height="1.3em"
                viewBox="0 0 16 16"
                class="bi bi-check-lg"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                v-bind:class="ec.approved ? 'bi bi-check-lg' : 'bi bi-hourglass-split'"
              >
                <path
                  d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"
                />
              </svg>
            </a>
            <a
              class="text-danger"
              href="#"
              data-bs-toggle="tooltip"
              title="{{_('Delete this external calendar')}}"
              v-on:click="deleteExternalCalendar($event, ec.id)"
            >
              <svg
                width="1.3em"
                height="1.3em"
                viewBox="0 0 16 16"
                class="bi bi-x"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"
                />
                <path
                  fill-rule="evenodd"
                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center create-external-calendar"
        >
        <h6 class="text-truncate my-0">{{ _('Create a calendar') }}</h6>
          <button
              class="btn btn-success badge rounded-pill"
              type="submit"
              data-bs-toggle="tooltip"
              title="{{_('Create a new external calendar')}}"
              v-on:click="showExternalCalendarModal">+</button>
        </li>

      </ul>
    </div>
  </div>
</div>
{% endblock %}
