{% extends "base.html" %} {% block head %} <%
_.forEach(htmlWebpackPlugin.files.js, function(file) { %>
<script type="text/javascript" src="<%= file%>"></script>
<%}); %> {% endblock %} {% block body %}
<div class="container-lg pt-4">
  <spinner v-bind:computing="computing">
    <div
      class="carousel carousel-dark slide"
      data-bs-interval="false"
      data-bs-ride="carousel"
      id="carouselPlots"
      v-show="plots.length > 0"
    >
      <ol class="carousel-indicators">
        <li
          data-bs-target="#carouselPlots"
          v-for="(plot, index) in plots"
          v-bind:key="plot.id"
          v-bind:class="{ active: index == 0 }"
          v-bind:data-bs-slide-to="index"
        ></li>
      </ol>
      <div class="carousel-inner">
        <div
          class="carousel-item"
          v-for="(plot, index) in plots"
          v-bind:key="plot.id"
          v-bind:class="{ active: index == 0 }"
        >
          <div
            class="d-flex justify-content-center mb-5"
            v-bind:id="plot.id"
          ></div>
        </div>
      </div>

      <a
        class="carousel-control-prev"
        href="#carouselPlots"
        role="button"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselPlots"
        role="button"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </spinner>
</div>
{% endblock %}
