<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="ADE Scheduler for UCLouvain students">

        <title>ADE Scheduler v2.0</title>

        <!-- Bootstrap -->
        <link href={{ url_for('static', filename='css/lib/bootstrap.min.css') }} rel="stylesheet">

        <!-- Custom styles for this page -->
        <link href={{ url_for('static', filename='css/base.css') }} rel="stylesheet">

        <!-- FontAwesome -->
        <link href={{ url_for('static', filename='lib/fontawesome/css/all.min.css') }} rel="stylesheet" >

        <!-- Favicon -->
        <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon">

        {%block head%}{%endblock%}
    </head>

    <body class="bg-light">
        <!-- Main navbar -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand mr-auto mr-lg-0" href="#">
                ADE-Scheduler
            </a>
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Switch account</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <main role="main">
            {% block body %}
            {% endblock %}
        </main>

        <footer class="footer mt-auto py-2 fixed-bottom">
          <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
          </div>
        </footer>

        <!-- jQuery -->
        <script src={{ url_for('static', filename='js/lib/jquery.min.js') }}></script>

        <!-- Bootstrap -->
        <script src={{ url_for('static', filename='js/lib/bootstrap.min.js') }}></script>

        <!-- JS Code for this page -->
        <script src={{ url_for('static', filename='js/base.js') }}></script>

        {%block js%}{%endblock%}
    </body>
</html>
