<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="ADE Scheduler for UCLouvain students">

        <title>ADE Scheduler v2.0</title>

        {% assets "base_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets "base_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {%block head%}{%endblock%}
    </head>

    <body class="bg-light">
        <!-- Main navbar -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand mr-auto mr-lg-0" href="/">
                <!-- <img src="static/img/ade_scheduler_icon_white.png" height="26px"> -->
                ADE Scheduler
            </a>
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('calendar.schedule_viewer') }}>Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Classrooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('account') }}>Account</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0 mr-2">
                    <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Search</button>
                </form> -->
                <!-- <div class="input-group mr-2">
                    <input class="form-control form-control-sm" type="text", placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success btn-sm"><i class="fas fa-search"></i></button>
                    </div>
                </div> -->
                {% if current_user.is_authenticated %}
                <div class="btn-group user-status-div">
                    <button class="btn btn-outline-danger btn-sm" type="button" onclick="window.location.href='/logout'">Logout</button>
                </div>
                {% else %}
                <div class="btn-group user-status-div" style="min-width: 170px">
                    <button class="btn btn-outline-light btn-sm w-50" type="button" onclick="window.location.href='/login'">Login</button>
                    <button class="btn btn-outline-light btn-sm w-50" type="button" onclick="window.location.href='/register'">Register</button>
                </div>
                {% endif %}
            </div>
        </nav>

        <main role="main">
            {% block body %}
            {% endblock %}
        </main>

        <!-- <footer class="footer mt-auto py-2 fixed-bottom">
            <div class="container">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer> -->

        {%block js%}{%endblock%}
    </body>
</html>
