<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="ADE Scheduler for UCLouvain students">

        <title>ADE Scheduler v2.0</title>
        <!-- Favicon -->
        <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon">

        {% assets "base_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}

        {%block head%}{%endblock%}
    </head>

    <body class="bg-light">
        <!-- Main navbar -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark px-2">
            <a class="navbar-brand mr-auto mr-lg-0" href="/">
                ADE Scheduler
            </a>
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('calendar.schedule_viewer') }}>{{ _('Calendar') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('classroom.index') }}>{{ _('Classrooms' )}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('account.dashboard') }}>{{ _('Account') }}</a>
                    </li>
                </ul>
                {% if current_user.is_authenticated %}
                <div class="btn-group align-items-end user-status-div">
                    <button class="btn btn-outline-danger btn-sm" type="button" onclick="window.location.href='/logout'">{{ _('Logout') }}</button>
                </div>
                {% else %}
                <div class="btn-group align-items-end user-status-div" style="min-width: 170px">
                    <button class="btn btn-outline-light btn-sm w-50" type="button" onclick="window.location.href='/login'">{{ _('Login') }}</button>
                    <button class="btn btn-outline-light btn-sm w-50" type="button" onclick="window.location.href='/register'">{{ _('Register') }}</button>
                </div>
                {% endif %}
            </div>
        </nav>

        <main role="main" id="app">
        {% block body %}{% endblock %}
        </main>

        {% assets "base_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% block js %}{% endblock %}
    </body>
</html>
