{% extends "base.html" %}
{% block head %}
    {% assets "calendar_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}


{% block body %}
    <!-- Course details Modal -->
    <div class="modal fade" id="courseModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">[[ courseInfo.title ]]</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" v-for="(value, name) in courseInfo.summary" v-bind:key="name">
                        <div class="col-md" v-for="(v, n) in value">
                            <div class="card mb-3">
                                <div class="card-header form-switch">
                                    [[ n ]]
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between" v-for="id in v" v-bind:key="id">
                                        [[ id ]]
                                        <input class="form-check-input" type="checkbox" v-model="courseInfo.filtered[name][n][id]"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" v-on:click="applyFilter">Apply</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add an event Modal -->
    <div class="modal fade" id="eventModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <form class="modal-content needs-validation" id="form-add-event" v-on:submit.prevent="addEvent">
                <div class="modal-header">
                    <h5 class="modal-title">Add an event</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <label>Name</label>
                            <input class="form-control" type="text" required v-model="eventForm.name"/>

                            <label>Location</label>
                            <input class="form-control" type="text" v-model="eventForm.location"/>
                        </div>

                        <div class="col-6 text-right">
                            <label>Description</label>
                            <textarea class="form-control" type="text" rows="4" v-model="eventForm.description"></textarea>
                        </div>
                    </div>

                    <!-- Repeting event ? -->
                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" v-model="eventForm.recurring" id="switch-repetition" data-toggle="collapse" data-target="#recurring-inputs">
                                <label class="form-check-label" for="switch-repetition">Recurring event</label>
                            </div>
                        </div>
                    </div>

                    <!-- Start-end inputs -->
                    <div class="row mt-3">
                        <div class="col-6">
                            <label>From</label>
                            <div class="input-group date mb-2" v-show:disabled="!eventForm.recurring">
                                <div class="input-group-text">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                                        <path d="M2 1a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2H2zm14 4H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5z"/>
                                    </svg>
                                </div>
                                <input type="date" class="form-control text-truncate" v-model="eventForm.beginDay" v-on:blur="checkMinDay" required/>
                            </div>
                            <div class="input-group time">
                                <div class="input-group-text">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                    </svg>
                                </div>
                                <input type="time" class="form-control" required v-model="eventForm.beginHour" v-on:blur="checkMinHour"/>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <label>To</label>
                            <div class="input-group date mb-2" v-show:disabled="!eventForm.recurring">
                                <input type="date" class="form-control text-truncate" v-model="eventForm.endDay" v-on:blur="checkMaxDay" v-bind:disabled="eventForm.recurring" required/>
                                <div class="input-group-text">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                                        <path d="M2 1a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2H2zm14 4H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="input-group time">
                                <input type="time" class="form-control" required v-model="eventForm.endHour" v-on:blur="checkMaxHour"/>
                                <div class="input-group-text">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Repeting event ? -->
                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" v-model="eventForm.recurring" id="switch-repetition" data-toggle="collapse" data-target="#recurring-inputs">
                                <label class="form-check-label" for="switch-repetition">Recurring event</label>
                            </div>
                        </div>
                    </div>
                    <div class="row collapse" id="recurring-inputs">
                        <div class="row d-flex flex-row-reverse">
                            <div class="col-6 text-right">
                                <label for="start-repetition">Days of week</label>
                                <select class="form-select" multiple v-model="eventForm.freq" v-bind:disabled="!eventForm.recurring" required>
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                    <option value="0">Sunday</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <label>Start</label>
                                <div class="input-group date mb-2">
                                    <div class="input-group-text">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M2 1a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2H2zm14 4H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5z"/>
                                        </svg>
                                    </div>
                                    <input type="date" class="form-control text-truncate" v-model="eventForm.beginRecurrDay" v-on:blur="checkMinRecurrDay" v-bind:disabled="!eventForm.recurring" required>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <label>End</label>
                                <div class="input-group date mb-2">
                                    <input type="date" class="form-control text-truncate" v-model="eventForm.endRecurrDay" v-on:blur="checkMaxRecurrDay" v-bind:disabled="!eventForm.recurring" required>
                                    <div class="input-group-text">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M2 1a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2H2zm14 4H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Horizontal defiling menu -->
    <div class="nav-scroller bg-white shadow-sm">
        <nav class="nav nav-underline">
            <a class="nav-link active" href="#">ADE</a>
            <a class="nav-link" href="#">Schedule 1</a>
            <a class="nav-link" href="#">Schedule 2</a>
            <a class="nav-link" href="#">Schedule 3</a>
            <a class="nav-link" href="#">Export</a>
            <a class="nav-link" href="#">Download</a>
            <a class="nav-link" href="#" v-on:click="save">Save</a>
        </nav>
    </div>

    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-2">
                <a tabindex="0" class="badge rounded-pill bg-info badge-info-custom text-white" data-toggle="popover" data-trigger="focus"
                    data-content="To view more info or adapt your schedule, click on a course code." data-title="Note">
                    <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-info" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                        <circle cx="8" cy="4.5" r="1"/>
                    </svg>
                </a>
                <div class="list-group list-code m-2">
                    <li class="list-group-item code-item d-flex justify-content-between align-items-center"  v-for='code in codes'>
                        <div class="code-tag" v-on:click="getDetails($event, code)">
                            [[ code ]]
                        </div>
                        <button class="btn btn-danger badge rounded-pill" v-on:click="removeCode($event, code)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                            </svg>
                        </button>
                    </li>
                    <li class="list-group-item p-0 list-code-input">
                        <form class="input-group my-1" id="form-add-code" v-on:submit.prevent="addCode">
                            <input class="form-control code-input" type="text" placeholder="Enter code" v-model="code" v-focus>
                            <button class="btn btn-success badge rounded-pill btn-code-validation" type="submit">+</button>
                        </form>
                    </li>
                </div>
                <div class="btn-group btn-compute-clear m-2">
                    <button class="btn btn-outline-dark btn-sm w-50" type="button" v-on:click="compute($event); toggleNav(false)">
                        Compute
                    </button>
                    <button class="btn btn-outline-dark btn-sm w-50" type="button" v-on:click="clear($event); toggleNav(false)">
                        Clear
                    </button>
                </div>
            </div>
        </nav>

        <!-- Main content -->
        <div class="container-fluid">
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-2">
                <div class="alert alert-success alert-dismissible" style="display: none;" v-show="saveSuccess">
                    Schedule successfuly saved !
                    <button type="button" class="close"v-on:click="saveSuccess = false">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="alert alert-danger alert-dismissible" style="display: none;" v-show="error">
                    A problem has occurred. Please contact us if it happens again.
                    <button type="button" class="close" v-on:click="error = false">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="spinner-border text-primary spinner-compute" v-show="computing"></div>
                <div id="calendar" v-bind:style="calendarOpacity">
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-dark btn-nav">
        <svg v-if="navBtn" v-on:click="toggleNav(false)" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-chevron-bar-contract" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 14.854a.5.5 0 0 0 .708 0L8 11.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zm0-13.708a.5.5 0 0 1 .708 0L8 4.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
        </svg>
        <svg v-else        v-on:click="toggleNav(true)" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-chevron-bar-expand" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
        </svg>
    </button>
{% endblock %}

{% block js %}
{% assets "calendar_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
