{% extends "base.html" %}
{% block head %}
    <link href={{ url_for('static', filename='css/calendar.css') }} rel="stylesheet">
    <link href='static/lib/fullcalendar/core/main.css' rel='stylesheet'/>
    <link href='static/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='static/lib/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='static/lib/fullcalendar/list/main.css' rel='stylesheet' />
{% endblock %}


{% block body %}
    <!-- Modals -->
    <div class="modal fade" id="detailsModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Numerical Methods in Fluid Mechanics</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md">
                            <div class="card mb-3">
                                <div class="card-header">
                                    CM
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="card mb-3">
                                <div class="card-header">
                                    TP
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Examen
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="card mb-3">
                                <div class="card-header">
                                    Other
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="eventModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add an event</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Defiling menu -->
    <div class="nav-scroller bg-white shadow-sm">
        <nav class="nav nav-underline">
            <a class="nav-link active" href="#" data-toggle="collapse" data-target="#sidebarMenu">Menu</a>
            <a class="nav-link" href="#">ADE</a>
            <a class="nav-link" href="#">Schedule 1</a>
            <a class="nav-link" href="#">Schedule 2</a>
            <a class="nav-link" href="#">Schedule 3</a>
            <a class="nav-link text-dark" href="#">Export</a>
            <a class="nav-link text-dark" href="#">Download</a>
            <a class="nav-link text-dark" href="#">Save</a>
        </nav>
    </div>

    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-2">
                <a tabindex="0" class="badge badge-pill badge-info badge-info-custom text-white" data-toggle="popover" data-trigger="focus"
                    data-content="To view more info or adapt your schedule, click on a course code." data-title="Note">
                    <i class="fas fa-info"></i>
                </a>
                <div class="list-group list-code m-2">
                    <li class="list-group-item code-item d-flex justify-content-between align-items-center">
                        <span class="code-tag" data-toggle="modal" data-target="#detailsModal">
                            LMECA2660
                        </span>
                        <a href="#" class="badge badge-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </li>
                    <li class="list-group-item code-item d-flex justify-content-between align-items-center">
                        <span class="code-tag">LINGI2315</span>
                        <a href="#" class="badge badge-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </li>
                    <li class="list-group-item code-item d-flex justify-content-between align-items-center">
                        <span class="code-tag">LELEC2760</span>
                        <a href="#" class="badge badge-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </li>
                    <li class="list-group-item p-0 list-code-input">
                        <div class="input-group my-1">
                            <input class="form-control code-input" type="text" placeholder="Enter code" id="codeInput">
                            <a href="#" class="input-group-btn badge badge-success" id="codeValidation">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </li>
                </div>
                <div class="btn-group btn-compute-clear m-2">
                    <button class="btn btn-outline-dark btn-sm w-50" type="button" onclick="computeButton()">Compute</button>
                    <button class="btn btn-outline-dark btn-sm w-50" type="button">Clear</button>
                </div>
            </div>
        </nav>

        <!-- Main content -->
        <div class="container-fluid">
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-2">
                <div class="spinner-border text-primary spinner-compute" id="spinner-compute"></div>
                <div id='calendar'>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src={{ url_for('static', filename='js/calendar.js') }}></script>
    <script src='static/lib/fullcalendar/core/main.js'></script>
    <script src='static/lib/fullcalendar/interaction/main.js'></script>
    <script src='static/lib/fullcalendar/daygrid/main.js'></script>
    <script src='static/lib/fullcalendar/list/main.js'></script>
    <script src='static/lib/fullcalendar/timegrid/main.js'></script>
    <script src='static/lib/fullcalendar/bootstrap/main.js'></script>
    <script src='static/lib/fullcalendar/core/locales/fr.js'></script>
{% endblock %}
