{% extends "base.html" %}
{% block head %}
<% _.forEach(htmlWebpackPlugin.files.js, function(file) { %>
<script type="text/javascript" src="<%= file%>"></script>
<%}); %>
{% endblock %}

{% block body %}
<div class="container-lg d-flex flex-column justify-content-center">
    <input class="form-control mt-3" type="search" placeholder="Search"/>


    <l-map style="height: 350px" :zoom="zoom" :center="center">
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <l-marker v-for="marker in markers" :lat-lng="marker" ></l-marker>
    </l-map>
</div>
{% endblock %}
