{% extends "base.html" %}
{% block head %}
<% _.forEach(htmlWebpackPlugin.files.js, function(file) { %>
<script type="text/javascript" src="<%= file%>"></script>
<%}); %>
{% endblock %}

{% block body %}
<div class="spinner-border text-primary spinner-compute" v-show="computing"></div>
<div class="container-lg d-flex flex-column justify-content-center" v-bind:style="opacity">
    <div class="alert alert-danger alert-dismissible mt-3 mb-0" v-show="error">
        {{  _('A problem has occurred. Please contact us if it happens again.') }}
        <button type="button" class="close" v-on:click="error = false">
            <span>&times;</span>
        </button>
    </div>

    <l-map class="border border-dark rounded-lg mt-3" style="height: 350px" :zoom="zoom" :center="center">
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <l-marker v-for="classroom in classroomsFiltered" :lat-lng="[classroom.latitude, classroom.longitude]" >
            <l-tooltip>[[classroom.code]]</l-tooltip>
        </l-marker>
    </l-map>

    <div class="overflow-auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">
                        <input class="form-control" type="search" placeholder="Search name" v-model="nameSearch"/>
                    </th>
                    <th scope="col">
                        <input class="form-control" type="search" placeholder="Search code" v-model="codeSearch"/>
                    </th>
                    <th scope="col">
                        <input class="form-control" type="search" placeholder="Search address" v-model="addressSearch"/>
                    </th>
                </tr>
            <tbody>
                <tr v-for="classroom in classroomsFiltered">
                    <td>[[classroom.name]]</td>
                    <td>[[classroom.code]]</td>
                    <td>[[classroom.address]]</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" v-show="!classroomsFiltered.length">
        Empty :(
    </div>
</div>
{% endblock %}
