{% extends "base.html" %} {% block head %} <%
_.forEach(htmlWebpackPlugin.files.js, function(file) { %>
<script type="text/javascript" src="<%= file%>"></script>
<%}); %>
<script
  type="text/javascript"
  src="https://platform.linkedin.com/badges/js/profile.js"
  async
  defer
></script>
{% endblock %} {% block body %}
<div class="container-lg pt-3">
  <h3 class="d-flex flex-column justify-content-center text-center my-5">
    {{ _('Do not hesitate to contact us in case of problem !') }}
    <div>
      <a class="link-dark" href="mailto:adescheduler@gmail.com">
        <svg
          style="font-size: 20px; vertical-align: middle"
          width="2em"
          height="1.4em"
          viewBox="0 0 16 16"
          class="bi bi-envelope"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            style="vertical-align: middle"
            fill-rule="evenodd"
            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"
          />
        </svg>
      </a>
      <small class="font-weight-light">adescheduler@gmail.com</small>
    </div>
  </h3>

  <h4 class="d-flex justify-content-center text-center">
    <div>
      <a class="link-dark" href="mailto:jerome.eertmans@uclouvain.be">
        <svg
          style="font-size: 20px; vertical-align: middle"
          width="2em"
          height="1.4em"
          viewBox="0 0 16 16"
          class="bi bi-envelope"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            style="vertical-align: middle"
            fill-rule="evenodd"
            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"
          />
        </svg>
      </a>
      Jérome
      <small class="text-muted font-weight-light ms-2"
        >jerome.eertmans@uclouvain.be</small
      >
    </div>
  </h4>
  <!-- <hr class="mb-3"> -->
  <div class="d-flex justify-content-center mb-3">
    <a
      href="https://be.linkedin.com/in/j%C3%A9rome-eertmans-130ab1130"
      target="_blank"
    >
      <img
        src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"
      />
    </a>
  </div>

  <h4 class="d-flex justify-content-center text-center">
    <div>
      <a class="link-dark" href="mailto:navarre.louis@uclouvain.be">
        <svg
          style="font-size: 20px; vertical-align: middle"
          width="2em"
          height="1.4em"
          viewBox="0 0 16 16"
          class="bi bi-envelope"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            style="vertical-align: middle"
            fill-rule="evenodd"
            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"
          />
        </svg>
      </a>
      Louis
      <small class="text-muted font-weight-light ms-2"
        >navarre.louis@uclouvain.be</small
      >
    </div>
  </h4>
  <!-- <hr class="mb-3"> -->
  <div class="d-flex justify-content-center mb-3">
    <a
      href="https://be.linkedin.com/in/louis-navarre-36b78b143"
      target="_blank"
    >
      <img
        src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"
      />
    </a>
  </div>

  <h4 class="d-flex justify-content-center text-center">
    <div>
      <a class="link-dark" href="mailto:gilles.poncelets@uclouvain.be">
        <svg
          style="font-size: 20px; vertical-align: middle"
          width="2em"
          height="1.4em"
          viewBox="0 0 16 16"
          class="bi bi-envelope"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            style="vertical-align: middle"
            fill-rule="evenodd"
            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"
          />
        </svg>
      </a>
      Gilles
      <small class="text-muted font-weight-light ms-2"
        >gilles.poncelet@uclouvain.be</small
      >
    </div>
  </h4>
  <!-- <hr class="mb-3"> -->
  <div class="d-flex justify-content-center mb-3">
    <a
      href="https://be.linkedin.com/in/gilles-poncelet-020442195"
      target="_blank"
    >
      <img
        src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"
      />
    </a>
  </div>
</div>
{% endblock %}
