{% macro render_input_field(field, invalid_msg) %} {% if field.errors %} {{
field(class="form-control is-invalid", **kwargs)|safe }} {% for error in
field.errors %}
<div class="invalid-feedback">{{ error }}</div>
{% endfor %} {% else %} {{ field(class="form-control", **kwargs)|safe }}
<div class="invalid-feedback">{{ invalid_msg }}</div>
{% endif %} {% endmacro %} {% macro render_login_field(usr, pwd, invalid_msg) %}
{% if usr.errors or pwd.errors %} {{ usr(class="form-control is-invalid",
type="email", placeholder=_('Email address'), required="")|safe }} {{
pwd(class="form-control is-invalid", type="password", placeholder=_('Password'),
required="")|safe }} {% for error in usr.errors %}
<div class="invalid-feedback">{{ error }}</div>
{% endfor %} {% for error in pwd.errors %}
<div class="invalid-feedback">{{ error }}</div>
{% endfor %} {% else %} {{ usr(class="form-control", type="email",
placeholder=_('Email address'), required="")|safe }} {{
pwd(class="form-control", type="password", placeholder=_('Password'),
required="")|safe }}
<div class="invalid-feedback">{{ invalid_msg }}</div>
{% endif %} {% endmacro %} {% macro render_input_with_message(field,
invalid_msg) %} {% if field.errors %} {{ field(class="form-control is-invalid",
**kwargs)|safe }} {% for error in field.errors %}
<div class="invalid-feedback">{{ error }}</div>
{% endfor %} {% else %} {{ field(class="form-control", **kwargs)|safe }}
<div class="invalid-feedback">{{ invalid_msg }}</div>
{% endif %} {% endmacro %} {% macro render_flash_messages() %} {% with messages
= get_flashed_messages(with_categories=True) %} {% if messages %}
<div class="text-center mb-3">
  {% for category, message in messages %}
  <div
    class="form-text text-{{ {'error': 'danger', 'success': 'success'}[category] | default('primary') }}"
  >
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endif %} {% endwith %} {% endmacro %} {% macro render_flash_toast() %} {%
with messages = get_flashed_messages(with_categories=True) %} {% for category,
message in messages %}
<div v-flash:{{ category }}="`{{ message }}`"></div>
{% endfor %} {% endwith %} {% endmacro %}
