{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='dist/help.bundle.js') }}"></script>
{% endblock %}

{% block body %}
<!-- Course details Modal -->
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-light navigator collapse" id="faq-navigator">
            <nav class="nav nav-pills flex-column navigator-sticky pt-2">

                <a class="nav-link main-link m-2 mb-0" href="#faq-1" v-on:click.prevent="scroll('faq-1', true)">ADE Scheduler</a>
                <nav class="nav sub-nav flex-column">
                    <img class="d-block mx-auto my-4" src={{ url_for('static', filename='img/ade_scheduler_icon.png') }} width="30%">
                    <a class="nav-link ml-4" href="#faq-11" v-on:click.prevent="scroll('faq-11')">{{ _('What is ADE Scheduler ?') }}</a>
                    <a class="nav-link ml-4" href="#faq-12" v-on:click.prevent="scroll('faq-12')">{{ _('Getting started') }}</a>
                </nav>

                <a class="nav-link main-link m-2 mb-0" href="#faq-2" v-on:click.prevent="scroll('faq-2', true)">{{ _('Export and load') }}</a>
                <nav class="nav sub-nav flex-column">
                    <a class="nav-link ml-4" href="#faq-21" v-on:click.prevent="scroll('faq-21')">{{ _('What are the possibilities ?') }}</a>
                    <a class="nav-link ml-4" href="#faq-22" v-on:click.prevent="scroll('faq-22')">{{ _('Download an iCal file') }}</a>
                    <a class="nav-link ml-4" href="#faq-23" v-on:click.prevent="scroll('faq-23')">{{ _('Subscription links') }}</a>
                </nav>

                <a class="nav-link main-link m-2 mb-0" href="#faq-3" v-on:click.prevent="scroll('faq-3', true)">{{ _('Account & Settings') }}</a>
                <nav class="nav sub-nav flex-column">
                    <a class="nav-link ml-4" href="#faq-31" v-on:click.prevent="scroll('faq-31')">{{  _('What are the possibilities ?') }}</a>
                    <a class="nav-link ml-4" href="#faq-32" v-on:click.prevent="scroll('faq-32')">{{ _('Custom events') }}</a>
                    <a class="nav-link ml-4" href="#faq-33" v-on:click.prevent="scroll('faq-33')">{{ _('Event selection') }}</a>
                    <a class="nav-link ml-4" href="#faq-34" v-on:click.prevent="scroll('faq-34')">{{ _('Accounts') }}</a>
                </nav>

                <a class="nav-link main-link m-2 mb-0" href="#faq-4" v-on:click.prevent="scroll('faq-4', true)">{{ _('About us') }}</a>
                <nav class="nav sub-nav flex-column">
                    <a class="nav-link ml-4" href="#faq-41" v-on:click.prevent="scroll('faq-41')">{{ _('Who are we ?') }}</a>
                    <a class="nav-link ml-4" href="#faq-42" v-on:click.prevent="scroll('faq-41')">Jérome</a>
                    <a class="nav-link ml-4" href="#faq-43" v-on:click.prevent="scroll('faq-41')">Louis</a>
                    <a class="nav-link ml-4" href="#faq-44" v-on:click.prevent="scroll('faq-41')">Gilles</a>
                </nav>
            </nav>
        </nav>

        <div class="col-md-9 ml-sm-auto col-lg-10 p-3">
            <h3 class="my-5" align="center" id="faq-1">ADE Scheduler<img class="d-block mx-auto my-4" src={{ url_for('static', filename='img/ade_scheduler_icon.png') }} width="10%">
            </h3>
                <h4 id="faq-11">{{ _('What is ADE Scheduler ?') }}</h4>
                <hr class="mb-3">
                <p>
                    {{ _('ADE Scheduler is a tool aiming to provide the same informations as the
                    <a href="http://horaire.uclouvain.be/direct">UCLouvain\'s official schedule website</a>
                    but with in a more intuitive way, while also providing many more tools such as subscription links, schedule organization, filtering unwanted events, classroom localization and so on.') }}
                </p>

                <h4 id="faq-12">{{ _('Getting started') }}</h4>
                <hr class="mb-3">
                <p>
                    {{ _('The main purpose of this website is the calendar page. If you\'re new to this site, make sure to go to this page and try out some of the functionalities.\nYou are also encouraged to watch our quick guide hereunder.') }}
                    TODO: insert video
                </p>

            <h3 class="my-5" id="faq-2">{{ _('Export and load') }}</h3>
                <h4 id="faq-21">{{ _('What are the possibilities ?') }}</h4>
                <hr class="mb-3">
                <p>
                    {{ _('Once your schedule is complete, you don\'t need to go back to ADE-Scheduler each time to check your schedule: you can export it! Most calendar apps, such as Gmail, support importing external calendar. A short video shows you how to export your calendar to your favorite app.') }}
                    TODO: insert video
                </p>

                <h4 id="faq-22">{{ _('Download an iCal file') }}</h4>
                <hr class="mb-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum orci et lacus tincidunt congue. In sem augue, vehicula ac lectus non, fringilla commodo nunc. Curabitur varius lorem id bibendum dapibus. Suspendisse sagittis ligula ac vehicula blandit. Sed sollicitudin ipsum nunc, non pharetra ligula finibus ac. Morbi sit amet malesuada nibh. Integer ultrices non sem in commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam dapibus imperdiet lectus eu malesuada. Vestibulum in eros porttitor, sodales justo porta, molestie diam. Aenean porttitor lacus eu sem congue pulvinar. Praesent tristique diam pharetra metus venenatis, vel lacinia nisl commodo. Praesent vulputate pretium neque non commodo.

                    Cras sed consectetur lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam eget dapibus augue. Integer lacinia facilisis lorem sit amet posuere. Etiam sed magna lectus. Nulla malesuada ex id lectus tincidunt fermentum. Vivamus bibendum lobortis purus, nec consequat dui tincidunt sit amet. Nam luctus metus commodo iaculis tempus. In semper arcu vel commodo molestie. Ut aliquam convallis dictum.

                    Nulla at pharetra eros. Maecenas consectetur leo dolor, at varius nibh ornare eget. Phasellus at est vitae orci malesuada eleifend. Etiam congue ut urna sit amet condimentum. Etiam fermentum accumsan arcu, a fermentum dolor. Mauris quis purus magna. Mauris molestie turpis est, non finibus mi aliquet sit amet. Pellentesque sit amet orci turpis. Integer porttitor ante felis, sit amet convallis ipsum faucibus eu. Aliquam quis molestie lorem. In hac habitasse platea dictumst.
                </p>

                <h4 id="faq-23">{{ _('Subscription links') }}</h4>
                <hr class="mb-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum orci et lacus tincidunt congue. In sem augue, vehicula ac lectus non, fringilla commodo nunc. Curabitur varius lorem id bibendum dapibus. Suspendisse sagittis ligula ac vehicula blandit. Sed sollicitudin ipsum nunc, non pharetra ligula finibus ac. Morbi sit amet malesuada nibh. Integer ultrices non sem in commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam dapibus imperdiet lectus eu malesuada. Vestibulum in eros porttitor, sodales justo porta, molestie diam. Aenean porttitor lacus eu sem congue pulvinar. Praesent tristique diam pharetra metus venenatis, vel lacinia nisl commodo. Praesent vulputate pretium neque non commodo.

                    Cras sed consectetur lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam eget dapibus augue. Integer lacinia facilisis lorem sit amet posuere. Etiam sed magna lectus. Nulla malesuada ex id lectus tincidunt fermentum. Vivamus bibendum lobortis purus, nec consequat dui tincidunt sit amet. Nam luctus metus commodo iaculis tempus. In semper arcu vel commodo molestie. Ut aliquam convallis dictum.

                    Nulla at pharetra eros. Maecenas consectetur leo dolor, at varius nibh ornare eget. Phasellus at est vitae orci malesuada eleifend. Etiam congue ut urna sit amet condimentum. Etiam fermentum accumsan arcu, a fermentum dolor. Mauris quis purus magna. Mauris molestie turpis est, non finibus mi aliquet sit amet. Pellentesque sit amet orci turpis. Integer porttitor ante felis, sit amet convallis ipsum faucibus eu. Aliquam quis molestie lorem. In hac habitasse platea dictumst.
                </p>

            <h3 class="my-5" id="faq-3">{{ _('Account & Settings') }}</h3>
                <h4 id="faq-31">{{  _('What are the possibilities ?') }}</h4>
                <hr class="mb-3">
                <p>
                    {{ _('On this website, no account is required to use most of the tools. Your session is stored during 30 days so you can easily leave this webpage, come back later and see that everything stays unchanged. Nonetheless, if 30 days is not enough or if you want to watch and modify your schedule one more than one device, we suggest to
                    <a href="/account">create an account.</a>
                    With this, you will also be able to save multiple schedules, rename them, choose their color palette and so on.') }}
                </p>

                <h4 id="faq-32">{{ _('Custom events') }}</h4>
                <hr class="mb-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum orci et lacus tincidunt congue. In sem augue, vehicula ac lectus non, fringilla commodo nunc. Curabitur varius lorem id bibendum dapibus. Suspendisse sagittis ligula ac vehicula blandit. Sed sollicitudin ipsum nunc, non pharetra ligula finibus ac. Morbi sit amet malesuada nibh. Integer ultrices non sem in commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam dapibus imperdiet lectus eu malesuada. Vestibulum in eros porttitor, sodales justo porta, molestie diam. Aenean porttitor lacus eu sem congue pulvinar. Praesent tristique diam pharetra metus venenatis, vel lacinia nisl commodo. Praesent vulputate pretium neque non commodo.

                    Cras sed consectetur lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam eget dapibus augue. Integer lacinia facilisis lorem sit amet posuere. Etiam sed magna lectus. Nulla malesuada ex id lectus tincidunt fermentum. Vivamus bibendum lobortis purus, nec consequat dui tincidunt sit amet. Nam luctus metus commodo iaculis tempus. In semper arcu vel commodo molestie. Ut aliquam convallis dictum.

                    Nulla at pharetra eros. Maecenas consectetur leo dolor, at varius nibh ornare eget. Phasellus at est vitae orci malesuada eleifend. Etiam congue ut urna sit amet condimentum. Etiam fermentum accumsan arcu, a fermentum dolor. Mauris quis purus magna. Mauris molestie turpis est, non finibus mi aliquet sit amet. Pellentesque sit amet orci turpis. Integer porttitor ante felis, sit amet convallis ipsum faucibus eu. Aliquam quis molestie lorem. In hac habitasse platea dictumst.
                </p>

                <h4 id="faq-33">{{ _('Event selection') }}</h4>
                <hr class="mb-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum orci et lacus tincidunt congue. In sem augue, vehicula ac lectus non, fringilla commodo nunc. Curabitur varius lorem id bibendum dapibus. Suspendisse sagittis ligula ac vehicula blandit. Sed sollicitudin ipsum nunc, non pharetra ligula finibus ac. Morbi sit amet malesuada nibh. Integer ultrices non sem in commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam dapibus imperdiet lectus eu malesuada. Vestibulum in eros porttitor, sodales justo porta, molestie diam. Aenean porttitor lacus eu sem congue pulvinar. Praesent tristique diam pharetra metus venenatis, vel lacinia nisl commodo. Praesent vulputate pretium neque non commodo.

                    Cras sed consectetur lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam eget dapibus augue. Integer lacinia facilisis lorem sit amet posuere. Etiam sed magna lectus. Nulla malesuada ex id lectus tincidunt fermentum. Vivamus bibendum lobortis purus, nec consequat dui tincidunt sit amet. Nam luctus metus commodo iaculis tempus. In semper arcu vel commodo molestie. Ut aliquam convallis dictum.

                    Nulla at pharetra eros. Maecenas consectetur leo dolor, at varius nibh ornare eget. Phasellus at est vitae orci malesuada eleifend. Etiam congue ut urna sit amet condimentum. Etiam fermentum accumsan arcu, a fermentum dolor. Mauris quis purus magna. Mauris molestie turpis est, non finibus mi aliquet sit amet. Pellentesque sit amet orci turpis. Integer porttitor ante felis, sit amet convallis ipsum faucibus eu. Aliquam quis molestie lorem. In hac habitasse platea dictumst.
                </p>

                <h4 id="faq-34">{{ _('Accounts') }}</h4>
                <hr class="mb-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum orci et lacus tincidunt congue. In sem augue, vehicula ac lectus non, fringilla commodo nunc. Curabitur varius lorem id bibendum dapibus. Suspendisse sagittis ligula ac vehicula blandit. Sed sollicitudin ipsum nunc, non pharetra ligula finibus ac. Morbi sit amet malesuada nibh. Integer ultrices non sem in commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam dapibus imperdiet lectus eu malesuada. Vestibulum in eros porttitor, sodales justo porta, molestie diam. Aenean porttitor lacus eu sem congue pulvinar. Praesent tristique diam pharetra metus venenatis, vel lacinia nisl commodo. Praesent vulputate pretium neque non commodo.

                    Cras sed consectetur lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam eget dapibus augue. Integer lacinia facilisis lorem sit amet posuere. Etiam sed magna lectus. Nulla malesuada ex id lectus tincidunt fermentum. Vivamus bibendum lobortis purus, nec consequat dui tincidunt sit amet. Nam luctus metus commodo iaculis tempus. In semper arcu vel commodo molestie. Ut aliquam convallis dictum.

                    Nulla at pharetra eros. Maecenas consectetur leo dolor, at varius nibh ornare eget. Phasellus at est vitae orci malesuada eleifend. Etiam congue ut urna sit amet condimentum. Etiam fermentum accumsan arcu, a fermentum dolor. Mauris quis purus magna. Mauris molestie turpis est, non finibus mi aliquet sit amet. Pellentesque sit amet orci turpis. Integer porttitor ante felis, sit amet convallis ipsum faucibus eu. Aliquam quis molestie lorem. In hac habitasse platea dictumst.
                </p>

            <h3 class="my-5" id="faq-4">{{ _('About us') }}</h3>
                <h4 id="faq-41">{{ _('Who are we ?') }}</h4>
                <hr class="mb-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum orci et lacus tincidunt congue. In sem augue, vehicula ac lectus non, fringilla commodo nunc. Curabitur varius lorem id bibendum dapibus. Suspendisse sagittis ligula ac vehicula blandit. Sed sollicitudin ipsum nunc, non pharetra ligula finibus ac. Morbi sit amet malesuada nibh. Integer ultrices non sem in commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam dapibus imperdiet lectus eu malesuada. Vestibulum in eros porttitor, sodales justo porta, molestie diam. Aenean porttitor lacus eu sem congue pulvinar. Praesent tristique diam pharetra metus venenatis, vel lacinia nisl commodo. Praesent vulputate pretium neque non commodo.

                    Cras sed consectetur lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam eget dapibus augue. Integer lacinia facilisis lorem sit amet posuere. Etiam sed magna lectus. Nulla malesuada ex id lectus tincidunt fermentum. Vivamus bibendum lobortis purus, nec consequat dui tincidunt sit amet. Nam luctus metus commodo iaculis tempus. In semper arcu vel commodo molestie. Ut aliquam convallis dictum.

                    Nulla at pharetra eros. Maecenas consectetur leo dolor, at varius nibh ornare eget. Phasellus at est vitae orci malesuada eleifend. Etiam congue ut urna sit amet condimentum. Etiam fermentum accumsan arcu, a fermentum dolor. Mauris quis purus magna. Mauris molestie turpis est, non finibus mi aliquet sit amet. Pellentesque sit amet orci turpis. Integer porttitor ante felis, sit amet convallis ipsum faucibus eu. Aliquam quis molestie lorem. In hac habitasse platea dictumst.
                </p>

        </div>
    </div>

    <button class="btn btn-dark btn-nav">
        <svg v-if="navBtn" v-on:click="toggleNav(false)" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-chevron-bar-contract" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg>
        <svg v-else        v-on:click="toggleNav(true)" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-chevron-bar-expand" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
    </button>
</div>
{% endblock %}
